[2019-01-05 15:35] KarimChabrak opened #1 "OAuth alternatives for login"
As user, I would like to login using facebook/gmail/LinkedIn/Twitter to take over my data and get more trust.

[2019-01-05 15:41] KarimChabrak opened #2 "Landing page for space"
As space administrator, I would like to share with new users and space members relevant information. User can learn about the goal of the space, the structure, link to relevant document, how to participate

For who, is this feature:
- new users that are visiting the space for the first time to learn about the space. this user has no idea about the space yet and wants to learn what is going on.
- e

[2019-01-05 15:52] KarimChabrak opened #3 "Crowd funding promotion"
As space admin who is making a crowd funding, I would like to share dedicated information to motivate investor to look into my project and to invest.

I want to add in [crowd-funding marketplace](https://community.coinsence.org/xcoin/funding-overview) a
- picture,
- write my project goals,
- the usage of funding,
- links

and also share information about
- funding target
- potential deadline to st

[2019-01-05 16:10] KarimChabrak opened #4 "Filtering crowd funding campains"
As investor i would like to search for projects based on specific criteria, to be able to find the projects which are relevant for me.
- Keywords
- Requested coin type

[2019-01-05 16:14] bumi opened #5 "Discuss wordings of "asset" "coin" "money"..."
It seems we are using different words for "coin" "money" "asset" in order to be consistent and that everybody talks about the same we need to define naming conventions.

[2019-01-05 16:23] KarimChabrak opened #6 "Finding user and spaces"
As a new user, i would like to see quite soon people and projects in the platforms to be able to get first idea, find people, find out if there are active communities which might be relavant for me and contribute.
Curretly, as new user, i have first to find out that user and spaces are hidden under directory button.

[2019-01-05 16:39] KarimChabrak opened #7 "Allocating coins to certain jobs"
As project manager, I would like to be able to optionally allocate a certain budget to a task, to ensure that this budget is blocked for the task and to inform the task maker how much coins are reserved as a reward.

As community member without budget, i would like to enable community members to allocate some budget to a certain task.

As community, we need ways to collectively approve a certain t

[2019-01-06 11:23] dylaw opened #8 "Prepare paper prototyping setup"
In order to quickly test and specify user processes we should be able to make wireframes

prepare a template with existing humhub structure:

[2019-01-06 11:47] SeifBa commented on #3
Where the crowdfunding amount goes ? To the initiator wallet? to the community wallet ?  to the project wallet?
Also, how the the community wallet and project wallet are managed ( collectivly or by the community administrator or delegated persons?

[2019-01-06 12:33] KarimChabrak commented on #3
currently the fu ding goes to the funding wallet which is managed by the spade admin. This is always these same wallet which includes the project shares.

We should change that the crowd funding initiator can decide to which wallets the coins goe and we need of course wallets whichcan be collectively managed.

[2019-01-06 15:55] bumi commented on #3
@KarimChabrak please add issues for things like "collectively managed wallets" and also for optimizations like deciding which wallets the crowd funding should go to.

[2019-01-06 21:13] haythem96 commented on #3
I think a community does not have a wallet, as a community is just many peoples in a space

[2019-01-06 21:13] haythem96 commented on #3
For that, we can use a MultiSig wallet

[2019-01-07 15:42] KarimChabrak commented on #3
@haythem96   Whin spaces there are wallets which are "owned" by the space. Currently only one person can be manager for a wallet.
In my comment, the word "owned" shall also mean in the future that a community can also manage these wallets. Approve and block accounts, change manager, make transactions....

[2019-01-07 16:01] KarimChabrak commented on #5
I propose to use COIN as a general term (COIN  can simply mean the COntribution INdicator).

If these coin represent project shares, community currencies or what ever, this is up to each issuing space to define this.

[2019-01-07 21:53] KarimChabrak opened #9 "Collective accounts"
As a group of user within a community, we would like to create collectively managed accounts to ensure that transaction can only be initiated based on agreement.

When user create an account within a space (The owner of the account is the space.), they can allocate different values of voices to different user and set up the minimun threshould (percentage of approving voices) that are needed to ini

[2019-01-07 21:57] KarimChabrak opened #10 "Change account manager"
As space administrator, I would like to be able to change the account manager in selected accounts which are owned by the space to reflect changes of manager and community decisions.

I propose that space admin can change manager of accounts.
For collective accounts, admin schall be be able to change voice allocation.

[2019-01-07 22:01] KarimChabrak opened #11 "COIN COMMITMENT"
As a space community which is issuing and transferring coins, we would like to make our commitment more visible to people who use our coins to ensure common understanding and trust.
As a user who accepts a space coin, I would like to see a clear commitment of the community issuing the coins to decide if i would like to accept the coins.

I propose that within the account page in each space, admini

[2019-01-07 22:18] KarimChabrak opened #12 "Change Account Name shall optionally not be possible for space members."
As space admin, I would like to have an option which ensures that account manager of space owned accounts can not change account names to avoid any chaos with account naming within the space.

I propose to add this option within the space settings for different user roles. (Like it is currently done with the account creation permision)

[2019-01-08 09:19] KarimChabrak opened #13 "User redirection after transaction"
After intiating a transaction from an account in "Accounts of this space" or "Your Accounts", i would like to be re-directed to the space page where i initiated the transaction and not be redirected to the account details from where i have made the transaction, to avoid always clicking back to the place where i have started the transaction.

[2019-01-08 11:06] KarimChabrak opened #14 "Creating different account categories"
As space admin, I would like to create different internal account categories and be able to visualize and selected accounts by  category to be able to have different groups like (credit accounts, user accounts, team accounts, sourcing accounts...)

I propose that space admin can create different categories (a name for each category). One category has to be selected when an account is created.  Thi

[2019-01-08 11:20] KarimChabrak opened #15 "Multi transfer"
As a community manager, I would like to initiate a transaction to multiple accounts to avoid loosing time to make all transactions manually and avoid making errors.

I propose that for transactions, after selecting the asset to be transferred:
- user can select multiple accounts within a space (user can select space as owner, could select category https://github.com/Coinsence/meta/issues/14, manua

[2019-01-08 11:27] KarimChabrak opened #16 "Scheduled transactions #16"
As an account manager, I would like to schedule transactions to a certain date or regularely, to ensure payment on time or to ensure that community member receive a regular coin budget.

I propose to add an option at the end of transaction when user can set one or multiple dates where a transaction shall take place.

[2019-01-08 11:36] KarimChabrak opened #17 "Multiple issue accounts"
As community, we would like that selected space members can issue a certain amount of coins and would like to see the issued amount for each member.

We propose that space admin can allocate a credit limits to selected accounts.
Manager of these accounts can transfer coins up to the credit limit.
Each time the account manager transfers an amount, the credit limit is reduced and a negative value is

[2019-01-08 11:40] KarimChabrak opened #18 "Regular credit limit change"
As a community, we would like to distribute coins by allocating regularely a credit limit to community members which can be used to fund projects.

I propose that community admin can regularely set the credit limit to a certain value.

[2019-01-08 11:49] KarimChabrak opened #19 "Hide empty accounts"
As user, I would like to see in my personal account list and in space account list only accounts which include assets, to avoid seein a long list of empty accounts.
I propose that the visualization of empty accounts is only done if user selects manually to see empty accounts.

[2019-01-08 15:58] KarimChabrak commented on #2
Space admin can already create pages

![image](https://user-images.githubusercontent.com/41925899/50842085-4fec7800-1366-11e9-915a-c2e283b2812d.png)

and also set which landig page shall be used for visitors and space members

![image](https://user-images.githubusercontent.com/41925899/50842246-90e48c80-1366-11e9-9551-e64532cfb591.png)

[2019-01-08 17:27] KarimChabrak opened #20 "Deactivate accounts"
As user or as space admin I would like to delete accounts which are not used (either my personal owned accounts or accountsowned by spaces  i am administrating) to avoid having too many accounts which are not needed.

I propose the introduce the option to deactivate accounts.

- These accounts are not shown anymore (user and space account profile).
- These accounts will not be proposed when user t

[2019-01-08 17:32] KarimChabrak opened #21 "Using Transfer button from empty account crashes"
Where clicking on transfer button in accounts which have no balance, the program craches.  Here, the message should simply show "No assets available in this account"

[2019-01-08 17:48] KarimChabrak opened #22 "Filtering proposed sender accounts based on requested asset"
As crowd investor, I would like to see when selecting sender account only my managed accounts which have a p ositive balance of the requested asset, to save time.

![image](https://user-images.githubusercontent.com/41925899/50848936-ed9b7380-1375-11e9-9e2b-c310c62b105f.png)

[2019-01-23 03:16] bumi opened #23 "Investigate DAOstack"
DAOstack has a few tools published: https://github.com/daostack
we should investigate if those are helpful for us and if we can use their tools for our setup.

[2019-01-23 03:17] bumi opened #24 "Investigate aragonOS"
AragonOS seems to provide some useful tools: https://hack.aragon.org/docs/aragonos-intro.html
we should investigate if those are helpful for us and if we can use their tools for our setup.

[2019-02-04 14:25] gdalyy commented on #2
Karim, since most of parts of this issue is already solved by the feature of **custom pages** , can you describe further what should be also done ?

[2019-02-04 17:11] KarimChabrak commented on #2
The current solution currently does not look good. All pictures are for example scaled over the full page.
Maybe this is more a frontend designer work.

[2019-02-04 17:34] bumi commented on #2
will Salem look into this?

[2019-02-04 18:22] KarimChabrak commented on #2
I think that it will need at least a month untill we get valuable feedback from product design side. Untill doing user research and joined design workshop, we have to work based on our own assumptions.

[2019-02-04 19:59] bumi commented on #2
how do you come up with that number of a month? - let's discuss the process on slack?

[2019-02-05 14:45] craxrev commented on #2
So, I'll be looking for any kind of enhancements, maybe there's a misuse or some kind of bad UI/UX?
Either ways, I'll make sure not touch any crucial parts in this feature as there's not fixed to-dos here.
In the meantime, **Karim** will discuss this with **Salem** hopefully not for a long time, otherwise, I'll be making a point with **Malek**, to further address this issue.

[2019-02-05 15:04] gdalyy commented on #2
@craxrev, there's a new version for the  **custom pages** module ( Version : 0.8.10 -> Version : 0.8.11 ) , make sure you make the updates before starting.

[2019-02-05 15:06] craxrev commented on #3
@KarimChabrak should we bring Malek to this issue, so that he can begin to design crowd funding boxes, or maybe the overall crowd-funding page (or maybe some minor enhancements), Or have you already discussed this with Salem?

[2019-02-06 06:54] KarimChabrak commented on #7
"As community member without budget, i would like to enable community members to allocate some budget to a certain task"
I mean with this that task creator can add budget request to the task, and different user can send coins to this task.

[2019-02-06 06:57] KarimChabrak commented on #3
@craxrev We can bring Malek to this issue.
We can then discuss together the details.

[2019-02-06 13:47] MalekTN commented on #3
Hi guys, okay @KarimChabrak i'll start working on it

[2019-02-06 17:04] KarimChabrak commented on #3
@MalekTN
We could build something like
https://www.startnext.com/
Check how projects are presented there.

We can use the same structure for crowdsourcing of different challenges.

[2019-02-08 01:49] bumi opened #25 "Setup UNICEF integration"
One of the requirements of UNICEF was to push realtime data to their dashboard.
We need to setup this integration.

[2019-02-08 13:33] gdalyy commented on #7
Hi @KarimChabrak, i'm wondering about the workflow of the coins allocation:

- space new account creation comes first then when creating a task we just link the according account and provide the account that coins will go to
- when creating the task w choose the amount and which account this amount will go to and an acccount that belongs to the space is automatically created were coins will be blo

[2019-02-08 21:42] KarimChabrak commented on #7
1st issue (enable allocating budget to ask):
We creating a task AND clicking "allocate budget", an account with taks ID is created in the space and is associated to this task.
(Any user can then send coins to this task  account. This is done independent from the task module).
The budget in the task account is also visible somewhere in the task description.

2nd issue (setting payment account)
When

[2019-02-08 21:46] KarimChabrak commented on #3
@MalekTN

As you can see here, (click also on one of the projects).
https://www.jovoto.com/projects

The stucture of the crowdsourcing here is quite similar to the structure of the crowd funding in startnext.

[2019-02-08 21:54] KarimChabrak commented on #2
@craxrev    Please let me know what feedback you need.

[2019-02-08 22:02] gdalyy commented on #7
Thanks karim now the flow is clear, what about about dividing this issue into three more granular issues ?
Other question: when creating the task no fixed amount is provided ?
So amount reached that exists in the account linked to the task when it's accomplished will be transferred to worker account or refund to accounts where it comes from.

[2019-02-09 14:02] craxrev commented on #2
Ok @KarimChabrak, this is what've got so far from this issue,

With the current module we have the following options for a user to add his custom page:
- Link: direct redirection to the set link, no view, no customization
- iframe: for lazy people, not an ergonomic view (the slider made it look bad), no customization
- MarkDown: easy to use for newbies, but lacks customization (limited by design)

[2019-02-09 17:32] MalekTN commented on #3
yeah i see, we can make something like this yeah, but once you click on one of the crowdfundings, it should take you to the crowdfunding page(custom page) not the "space " page.

i think we should make a voice call on this one me & you & Salem, there are things that we must clear out before i design it

[2019-02-10 14:39] KarimChabrak commented on #7
We can devide this issue into more granularity.

Regarding your question: When creating a task no fixed amount is provides. This can be done manually by sending coins to the task account. Because, some times you create a task first collect feddback from potential worker, we you agree with one, you then assign a user and send the agreed coin amount to the task account.

Yes, amount reached that exi

[2019-02-10 14:42] KarimChabrak opened #26 "Enable creation of accounts for tasks"
As task manager, I would like to allocate a certain amount of coins to a task.
From the single task, i would like to create an account within the space.

- The account name shall be linked to the task id.
- The manager of this account shall be the task responsible.

[2019-02-10 14:46] KarimChabrak opened #27 "Set as "assigned user" for task my payment account"
As "assigned user" for a task, I would like when I get a task assigned to me to set the payment account.
I can select any account i want. When task is accompliched by me and accepted by the responsible user, the coins shall be then transferred to this account

[2019-02-10 14:48] KarimChabrak opened #28 "Initiate payment from task account"
As responsible user for a task, I would like when closing (accept or decline) a task either to transfer the coins to the "assigned user" account when a task is accepted.  And I would like also to have the option to transfer the coins to the originating account if a task is cancelled.

[2019-02-10 17:22] gdalyy commented on #7
Linking sub issues :

- [ ] #26
- [ ] #27
- [ ] #28

[2019-02-11 00:14] gdalyy commented on #26
@KarimChabrak, i've managed until now to automatically create and account when a task is created but there is some issues :
- How should i name the new Account ? (see picture below)
  - Task#{taskID}
  - Task Account : {taskName}
  - Task Account ({taskName})

![fireshot capture 144 - test space - coinsence_ - http___coinsence_index php](https://user-images.githubusercontent.com/13172404/52541877-

[2019-02-11 08:31] KarimChabrak commented on #26
@gdalyy
I would name the account as
- Task#{taskID}

I will open an other issue where i will propose the intruduce account categories.  In our case here, the account categogie will be later "tasks".

I will then add an other issue where the link to the task shall be shown in the account list.

Preferably, the account responsible shall be the task responsible.
- If any task responsible can approve

[2019-02-11 11:47] gdalyy commented on #26
@KarimChabrak,

- I'am okay with your first answer.
- But for the second one, i'm not talking about transaction initiation, i'm talking about in case we have many responsibles which one should i make the account manager ? because every account within a space has one an only one manager.

[2019-02-11 17:38] gdalyy commented on #26
So as discussed,

A task could have only one responsible who will be also the account manager and may have many workers (users).

[2019-02-11 17:51] gdalyy commented on #26
For the moment we will stick with :

- One responsible for a task
- One worker for a task

[2019-02-11 21:10] bumi commented on #2
as discussed in the call.
@KarimChabrak describes some real-world content (for our project) that we would like to display on the landing page.
but technically we continue looking into the WYSIWYG editor and see if we can implement similarly as humhub already does.

[2019-02-11 21:11] bumi commented on #2
oh and we need Salem's input on this

[2019-02-12 12:58] craxrev commented on #2
Found an [issue](https://github.com/WASasquatch/humhub-modules-custom-pages-extended/issues/3) about the CKEditor implementation, talking about a bootstrap theme incompatibility. I'm testing it myself anyway.

[2019-02-12 16:14] KarimChabrak commented on #2
This is below an example of content I would like to have on the space landing page.
With the current solution, i can use MarkDown, but i can not control here the size of pictures and the position.

![examplecontent](https://user-images.githubusercontent.com/41925899/52649807-4b792900-2ee9-11e9-8370-e1bd628867aa.JPG)

[2019-02-12 22:30] bumi commented on #2
does the current solution actually support writing basic HTML? without a full editor?
or can we simply support basic HTML in the landing page?

[2019-02-12 22:33] bumi commented on #2
some other calculation:
If developing this feature costs us ~5days - we could spend 5 days to design landing pages for spaces.  I'd assume it takes less than half a day to design such a landing page, thus we could do it for up to 10 spaces and would still spend less time.
how about we support basic HTML right now and offer spaces that we do it for them and see what they want?

[2019-02-12 22:46] craxrev commented on #2
Yes, it does support adding basic HTML only through Templates, but it does not support adding a raw HTML page for security reasons (code injection) thus the limited usage of templates, but it's supported only for the space's admin in the module settings.
Found a discussion about this in a humhub repo [issue](https://github.com/humhub/humhub/issues/2203), and found another [one](https://github.com/

[2019-02-12 23:26] bumi commented on #2
I don't fully get the security concern, as the WYISWG editor is also creating HTML, isn't it?
The HTML should be sanitized and only support basic tags.

do you know the code where the HTML is striped from the input?

[2019-02-13 00:04] craxrev commented on #2
Yes we could limit the usage to only the basic tags, but I don't get the concern too, I don't know if there is any sanitisation process or not, I have to look into it tomorrow.
Another thing concerning the MarkDown option, there's a way to resize an image, I found a patch mentioned [here](https://github.com/humhub/humhub-modules-custom-pages/issues/63), it's not mainstreamed yet but I've tested it

[2019-02-13 13:37] craxrev commented on #2
What I've understood so far:
- templates are made only by the humhub administrators and they can choose whether they allow this layout to be selected in spaces or not.
- the space's admin can only change some sections of a chosen template, i.e. cannot add HTML tags, just writing text or uploading files for download.
- concerning the security issue, I found where the custom page content is processe

[2019-02-13 22:17] bumi commented on #2
what I still don't understand: how would the WYSIWYG like CKEditor work? the editor sill sends HTML to the server, doesn't it? So in order to support the editor we would somehow need to change the sanitization?

with the markdown option we would also need to somewhere convert markdown into html?

can't we use something like http://htmlpurifier.org/ to sanitize the input and then in the first step

[2019-02-13 22:17] bumi commented on #2
I think @KarimChabrak wants some certainty of customization so fixed templates is not an option?

[2019-02-13 22:21] bumi opened #29 "Setup a blog"
To easily share blog posts and photos we need to setup a blog.
maybe we can start with medium but use our own domain? blog.coinsence.org - is that possible?

Alternatively we can use a static site generator like https://gohugo.io/ which would be my preference. - They have also a huge list of themes: https://themes.gohugo.io/ e.g. this could be enough: https://themes.gohugo.io/hugo-dgraph-theme/

-

[2019-02-13 22:30] bumi opened #30 "Create contributor welcome document"
We need to make it easier for new people to contributor to the project.
To do that we should create a document on how to get started, including:

- [ ] goal
- [ ] development process
- [ ] architecture overview
- [ ] where to find help / who to talk to
- [ ] issues that are good to start

[2019-02-14 01:10] craxrev commented on #2
yes, to make the CKEditor valid, we should add the sanitization as there is no such process when sending the HTML to the server in the current case, we could consider using the builtin functions like `\yii\helpers\HtmlPurifier::process($description)`<sup>[1](https://www.yiiframework.com/doc/guide/2.0/en/security-best-practices)</sup>  and opt out of using external libs.

as for the markdown option

[2019-02-14 01:17] bumi commented on #2
ok, using those builtin functions sounds great.
But then I'd propose we start with changing the backend to use those functions and allow space admins to use basic HTML.
Once we have that everyone who knows HTML can already create nice landing pages (e.g. we can offer active spaces to build landing pages for them)

On a later step we can extend that with a full CKEditor incl. file upload etc.

what

[2019-02-14 10:16] SeifBa commented on #29
You can put a link for a medium blog with a cover photo and description of coinsence. but the url will be like that : https://medium.com/coinsence
or we can use steemit !

[2019-02-14 10:32] craxrev commented on #2
Yep, that would be a good first step, the code is already there (only available for humhub administrators), but needs some changes to add space admins also, though liked the idea of spaces for landing pages.

But I'll work on this for time being till we get everything sorted out (backend sensitization) then we'll build the full CKEditor.

[2019-02-14 16:23] craxrev commented on #2
I've added the ability to add basic HTML pages to space admins.

![image](https://i.imgur.com/hfogx54.png)
![image](https://i.imgur.com/jvXMyRP.png)

Also I've found that the CKEditor has his own content filtering [feature](https://ckeditor.com/docs/ckeditor4/latest/guide/dev_acf.html) ready to be configured, it does certainly support removing unwanted tags, so we'll be using that.

[2019-02-14 16:58] craxrev opened #31 "Create a subdomain for the testing platform"
To make our testing platform accessible easly when demoing changes, we need to make a subdomain for that.
We could add it to one of the reserved domains:
- testing.coinsence.com
- testing.coinsence.org

[2019-02-14 17:12] bumi commented on #2
whoot nice! I'd actually say we should already deploy this and publish the landing page Karim has written.
can you make a PR?

re CKEditor: so CKEditor is doing that filtering on the server?

[2019-02-14 17:23] craxrev commented on #2
but wait, no sensitization is performed when submitting the HTML, we shouldn't publish it until we do so.
concerning the CKEditor as mentioned in the link in the last comment :

ACF should not be used as a replacement to server-side security filtering that sanitizes entered data. If, however, a server-side filter exists, ACF will be its perfect companion that ensures the users will see exactly the

[2019-02-14 17:33] craxrev commented on #2
We could publish it on the testing server as it is right now, and let @KarimChabrak do his magic in HTML, meanwhile I'll be working on the server-side sanitization.

[2019-02-14 17:40] bumi commented on #2
so if it is doing on the client it is not enough - we can not rely on any user input.

but yeah, let's push it online on the testing server and add the yii built in sanitizing.

[2019-02-14 19:40] bumi commented on #29
nah, we must own and be in control of the content/domain - so this is imo not an option.
so I'd suggest we setup a blog using a static page generator as described above.

[2019-02-14 22:10] KarimChabrak opened #32 "Remove creating new account when task is changed"
a new task account is created when  changing:

- responsible user
- assigned user
- task name

Instead, only the account manager or accont name shall be changed

![image](https://user-images.githubusercontent.com/41925899/52820967-c5f2a600-30ad-11e9-94de-ed5a0e86f5d5.png)

[2019-02-14 22:12] KarimChabrak commented on #26
Good job

see the following issues
https://github.com/Coinsence/meta/issues/32
https://github.com/Coinsence/meta/issues/33

[2019-02-14 22:13] KarimChabrak opened #33 "Make task account balance visible in the task module"
The balance on task accounts shall be visible for each task in the task list.

[2019-02-14 22:15] KarimChabrak opened #34 "Task account creation shall be optional"
When I create a task, I do not want to be forced to create an account. This shold be optional

[2019-02-15 17:14] bumi opened #35 "Sanitize user input on custom landing pages"
PR https://github.com/Coinsence/humhub-modules-custom-pages/pull/2 introduced the option to create custom HTML pages. For security reasons we must sanitize the user input through an HTML tag whitelist.

as discussed in #2 we can use the yii built in sanitizers for that. (content + title)

[2019-02-15 17:18] bumi commented on #34
why? do we reeally need this exception right now?

[2019-02-15 17:22] bumi commented on #33
this should be displayed next to the numer of comments?

which icon do we use? do we have a coin icon?

[2019-02-15 17:30] craxrev commented on #35
Another thing should be discussed here, whether the sanitization is done when:
- retrieving HTML from db: before rendering the view, best for our current case (basic HTML), so that when reterning to edit mode, the user can find his untouched code (with unrendered tag).
- sending HTML to db: after adding/editing, ideal when implementing the CKEditor with ACF.

[2019-02-15 17:34] bumi commented on #35
what is easiest?
what do you think?

and even in edit mode we should only render sanitized input - otherwise it could still be exploited.

[2019-02-15 17:43] craxrev commented on #35
both are the same (code speaking), complexity might differ depending on the best practice of where the filtering code should be. still looking for the best possible way.
the edit mode I'm speaking about is where you put the HTML code, I'm not speaking about CKEditor on that point.

[2019-02-15 17:55] bumi commented on #35
so if both works, then I actually add it at least when data is stored.

(re: edit: if you add malicious code and I edit the page then you can still attack me)

[2019-02-15 20:47] gdalyy commented on #31
@KarimChabrak , since our main platform is hosted by Humhub team, can you please ask them to create a sudomain for our dev platform, i'll provide them an elastic IP address associated to our AWS EC2 instance so that they can add an A record to the DNS record of  the subdomain.

For the subdomain, i propose *dev.coinsence.org* since *test.coinsence.org* already exists

[2019-02-15 21:02] bumi commented on #31
I think @KarimChabrak you own and control the domain, don't you?

[2019-02-15 22:59] gdalyy commented on #33
@KarimChabrak , i working on this issue right now and i'm wondering where to display the balance like @bumi said ?
And also can task account have multiple assets so multiple balances or it supports only space asset ?

[2019-02-15 23:44] bumi commented on #33
re multiple balances: I think we should discuss that in a broader product round?
because I think it gets complicated there? (thus I'd say we should only have one - the space's currency)

[2019-02-16 13:56] craxrev commented on #35
just created a [PR](https://github.com/Coinsence/humhub-modules-custom-pages/pull/3) with a testing commit for the purifier logic, deploying on testing platform..

[2019-02-16 14:17] craxrev commented on #35
Deployed on testing.

[2019-02-17 18:57] KarimChabrak commented on #33
@gdalyy
I would enable only one type of assets per task account. But this should not be forced to be the space currency.

I would display the balance next to the number of comments.

[2019-02-17 19:00] KarimChabrak commented on #31
I have the domain. I will check on strato which settings i did make and create a subdomain dev.coinsence.org

[2019-02-17 19:05] KarimChabrak opened #36 "Enable creating dedicated coin symbol/ picture"
As a space admin, i would like to display my space coin with an other picture, which is different from space profile picture.

[2019-02-17 19:07] KarimChabrak commented on #33
currently we use space profile picture as icon to the space generated coin. I have added the issue #36  to introduce dedicated coin icons.

[2019-02-17 19:11] KarimChabrak commented on #34
If we leave this as it is now, every task will create an account. In most of the cases an account is not needed.

[2019-02-17 21:51] gdalyy commented on #33
@KarimChabrak

Where this should be done? in the task creation form or after creating the task, go to accounts list, edit the account and choose the asset ?

[2019-02-17 22:46] bumi commented on #33
I think this is a good example where we have to talk product....
making the coin configurable per tasks adds quite some complexity for the user and the product - at least from a development perspective this has to be somehow managed.
similarly #36 - means we have to develop the whole management of those files and people have to understand how to create such images and icons.

do we need this? does

[2019-02-17 22:47] bumi commented on #36
please don't forget to add why a space admin would want to do that. and what should happen with that image ("display" - display where?); what kind of image that is, etc.

[2019-02-17 22:48] bumi commented on #33
also we should consider if this is really needed in a first release of the account->task feature.

[2019-02-17 22:53] bumi commented on #34
if in **most cases** an account is not needed, why do we develop this feature in the first place?

again a topic where we need to talk product: we can not just throw features on it.

[2019-02-18 09:09] KarimChabrak commented on #31
Which CNAME-Record shall I set for the subdomain dev.coinsence.org?

[2019-02-18 09:33] gdalyy commented on #31
Point it to our public DNS on AWS `ec2-3-16-41-127.us-east-2.compute.amazonaws.com` .

[2019-02-18 09:57] KarimChabrak commented on #36
The coins picture/icon is helpfull to differentiate between different coins/assets in the account.

As space admin, currrently i have the follwing problem:
- The space profile picture is not appropriate as coin icon. But I am forsed to use the same picture.
- I would like sometime to change my space profile picture and re-design my space, but would like to avoid changing the coin icon.

[2019-02-18 10:06] KarimChabrak commented on #34
@bumi

Spaces which distibutes coins need a way for
- To show for what tasks coins have been distributed.
- Achieve a clear agreement between task responsible and task worker
- Allocated coins to task to show potential worker the offered compansation for tasks.
- Enable co-funding and prioritization of tasks.

But I fully agree that we need to better better joined way to prioritize issues here.

[2019-02-18 10:22] KarimChabrak commented on #33
@gdalyy
I think also that creating rules for account, e.g. only accepting a single asset type is a bit too komplex for the moment. We should not spend time on this.

What is the most easy way at the moment?

I would say, the easiest ways would be to simply add a symbol on the task list which is linking to the task account overview.

[2019-02-18 16:13] bumi commented on #34
these are reasons why it needs to be optional? then I don't understand the answers.

[2019-02-18 16:19] bumi opened #37 "Create project Coinsence landing page"
Once https://github.com/Coinsence/humhub-modules-custom-pages/pull/3 is deployed we can create custom HTML landing pages. @KarimChabrak had proposed a landing page content/design for the Coinsence humhub project in: https://github.com/Coinsence/meta/issues/2

we need to implement that page on coinsence.org

[2019-02-18 21:23] gdalyy commented on #31
@KarimChabrak, can you please try with this `18.217.56.153`, it's an `Elastic IP` that i've created through the AWS Dashboard and i've associated to the EC2 instance that holds the dev platform. If it doesn't work , try to create an **A Record** rather than an **CNAME Record**.

[2019-02-19 14:39] gdalyy commented on #33
Done

[2019-02-19 14:42] gdalyy commented on #33
Should i deploy this on the dev platform ? if so i need to undo #34 (already deployed), because as discussed it may have ulterior impact or should i keep both of them !

[2019-02-19 14:44] craxrev commented on #37
So is Karim going to fill it by himself, or should I do it by my own?

[2019-02-19 14:47] gdalyy commented on #37
I think that @KarimChabrak or any other non techie guy should do that, to see if that was easy to do or not .

[2019-02-19 14:50] craxrev commented on #37
Ghaith, I think the state of the feature on time being is for techie guys, once the full CKEditor is implemented, we can test user interactions with it and how easy is perceived.

[2019-02-19 14:57] craxrev commented on #37
But yeah if Karim can do it, he should be the one doing it :+1:

[2019-02-19 16:24] KarimChabrak commented on #32
@gdalyy     Account creation when task is created does not work anymore. Please check.

[2019-02-19 16:30] gdalyy commented on #32
Did you choose : Associate Account checkbox ?

[2019-02-19 16:46] KarimChabrak commented on #33
@gdalyy
Why is this related to #34 ?

[2019-02-19 16:49] KarimChabrak commented on #33
To my understanding,
When i create or edit a task, I select if i want to create an account for the task. If I create an account, the link to the task account becomes visible on the task list.

[2019-02-19 16:56] gdalyy commented on #33
Because those two features :

- Optional account creation
- Account visible on task list

are on different branches. And now on the dev platform we are on the branch associated to `tup#34` so you can test the feature, if we will keep those two features i'll merge code into one branch, if not we will have only approved feature available on dev platform. I hope i've explained well

[2019-02-19 16:58] gdalyy commented on #33
@KarimChabrak , i'm only asking if we will stay with the tup#34 because as you see @bumi is not 100% for adding this for now, if not i need to discard changes made on its branch

[2019-02-19 19:52] KarimChabrak commented on #34
@bumi
You asked why we develop this feature in first place. The reasons above a why we need accounts for tasks and not why this shall be optional

[2019-02-19 20:29] KarimChabrak commented on #32
Now I saw it.

There is a new issue.
- When you do not directly assign a task responsible, the account has no manager.
- When changing task responsible, the account manager does not change.

[2019-02-19 20:47] KarimChabrak commented on #33
I am not clear why tup#34 should not been added.

[2019-02-19 23:21] bumi commented on #33
@KarimChabrak did you reed my comments: https://github.com/Coinsence/humhub-modules-tasks/pull/2#pullrequestreview-204906607

[2019-02-19 23:29] bumi commented on #34
yep, but I do not understand the answers. - imo they are not related to the question why we need to have accounts optional.

and my question about why we developed the feature in the first place relates to your comment, that in "**most of the cases** an account is not needed".

we have to work on our USPs and the best tool for "most of the cases" -> a topic for defining the product. and we need to

[2019-02-19 23:32] bumi commented on #37
here is my comment on this: https://github.com/Coinsence/meta/issues/2#issuecomment-462964517

my suggestion is: we design and develop a nice landing page for any space that will actively use coinsence. once we have more than 5 landing pages implemented we start with optimizing the editor.

[2019-02-19 23:36] bumi commented on #37
oh and we don't develop that app for @KarimChabrak only :)

[2019-02-19 23:39] bumi commented on #35
done! \o/

[2019-02-19 23:39] #35 closed

[2019-02-19 23:49] bumi commented on #32
this is exactly the hidden complexity of such features. (and that list will easily get longer and we will never finish it.)
and as you see any of such exceptions also makes it more complicate for the users.

in any case this issue is solved? for the other bugs/features can you create new issues that we can then discuss there.

[2019-02-20 00:29] bumi commented on #31
configured the an A record for the domain to point to the mentioned IP.

[2019-02-20 00:29] #31 closed

[2019-02-20 01:15] gdalyy commented on #33
I'm not saying that we should not add it, i'm just asking, i already resolved this issue and sure i don't want to drop it hhh.

Once we all approve to keep this feature i'll make a PR. What do you think @bumi & @KarimChabrak ?

[2019-02-20 01:18] bumi commented on #33
let's discuss about if accounts should be optional in the PR or the related issue.
this one is about making the account balance visible.

[2019-02-20 01:25] gdalyy commented on #32
@KarimChabrak , I will take a look and see what's going wrong.
@bumi :+1:

[2019-02-20 01:54] gdalyy commented on #32
Fixed, @KarimChabrak please check on dev.coinsence.org

[2019-02-21 17:06] KarimChabrak opened #38 "Define the process how to deploy new feature in the live network"
As developere team, we would like to deploy new features on the coinsence platform which is hosted by humhub.

[2019-02-21 17:07] KarimChabrak commented on #38
@luke-     Can you let us know how we could deploy the new features on our  live network which is hosted by you?

[2019-02-21 17:18] KarimChabrak opened #39 "Add a way to transfer coins from task account"
As responsible for a task, I would like to transfer coins from task account.    Even though i am the manager of the account, I can not see the transfer button.

[2019-02-21 17:22] KarimChabrak commented on #39
Ok, at least i can make a transaction when i enter into the account

![image](https://user-images.githubusercontent.com/41925899/53188385-7fe59700-3605-11e9-87ff-897a2294c602.png)

![image](https://user-images.githubusercontent.com/41925899/53188399-8a079580-3605-11e9-8ab1-25bf217b5783.png)

[2019-02-22 13:09] bumi commented on #39
so this can be closed?

[2019-02-22 17:08] craxrev commented on #37
so as @bumi suggested, I made a working [draft](http://dev.coinsence.org/index.php?r=custom_pages%2Fcontainer%2Fview&id=3&cguid=8ae128c1-2652-4b97-8904-691416819589) for the coinsence landing page on the dev platform so we can drop it later in production once the feature's deployed.

[2019-02-23 11:06] gdalyy commented on #39
Should I start with this issue ?

[2019-02-23 11:12] bumi commented on #39
no. I thought this can be closed?
and we should only work on things that we had moved into the todo column: https://github.com/Coinsence/meta/projects/1

[2019-02-24 10:10] KarimChabrak commented on #39
This issue will be solved by issue #28. So no need to work on it. We can close it.

[2019-02-25 20:46] bumi commented on #25
here is the unicef document:
https://docs.google.com/document/d/1E-PkJgOxfZ48_CWzYhSWdXAaXV8_dovYJqmIExcCrL0/edit

[2019-02-26 11:51] MalekTN commented on #29
Hi guys, sorry for catching up late, @bumi the link for the theme you suggested is broken, can you attach it again please? i wanna take a look at it

[2019-02-26 13:39] bumi commented on #29
this one: https://themes.gohugo.io/hugo-dgraph-theme/ - just a pretty plain simple one?

[2019-02-26 14:16] MalekTN commented on #29
yeah i agree, its simple and easy to use. just what we need!
so should i add the sections that saif proposed in the trello card?

[2019-02-26 14:32] lemsadelavega commented on #29
Heeeeey ! I am finally there ! Well i don't agree really for using the static generator, using medium will be better for our exposure, SEO, etc... moreover the crypto, crowdfunding, design etc are subjects and topics that people look for a lot on Medium

So the best thing would be to host it on medium and Malek and I, will work on the UI of the page to get something very similar to this : https://

[2019-02-26 14:35] lemsadelavega commented on #29
As you can see AJ&Smart which is one of the most famous design agency use medium for their blog and its rocking a lot https://blog.ajsmart.com/ so we def should consider this option, simple and efficient !

[2019-02-26 14:36] MalekTN commented on #29
fine by me 👍
great idea!

[2019-02-26 14:43] bumi commented on #29
The reason why I dislike tools like medium is, that we try to build decentralized solutions but hand over all our content and users to one single company.  - so that is more ideological.
medium is tracking users, collecting user data and we are supporting that, by hosting our content there.

That being said, I am OK with using medium IF it is running on our own domain and we have the chance to mov

[2019-02-26 14:45] bumi commented on #29
interesting content on [blog.ajsmart.com/](https://blog.ajsmart.com/)

[2019-02-26 15:33] craxrev commented on #29
I think it's feasible, but it is not a straightforward process, needs some tinkering but was reading about it not so long ago in [this](https://medium.com/@Rogier.Slag/setting-up-a-free-custom-domain-for-your-medium-account-336c21229254) blog post, but I dont know if it is outdated or not, though medium was offering custom domain, but it is already deprecated!

[2019-02-26 15:40] lemsadelavega commented on #29
Yes I understand what you mean Michael, but actually we are currently newcomers, no one really know who we are, so we should use some leverage to put Coinsence forward by going where our potential users could be :) and indeed after we could move to our self host blog.

[2019-02-26 15:51] bumi commented on #29
seem they don't offer custom domains anymore? https://help.medium.com/hc/en-us/articles/115003053487-Custom-Domains-service-deprecation ?

[2019-02-26 16:03] lemsadelavega commented on #29
that really sucks indeed its no longer available, i propose then https://ghost.org/features/  what do you think ?

[2019-02-26 16:04] lemsadelavega commented on #29
![image](https://user-images.githubusercontent.com/25116389/53427099-94040c80-39e8-11e9-892f-22e169bc7175.png)

As you can see it's pretty much looking to medium design guidelines and used by the most commun startup and company

[2019-02-26 16:09] bumi commented on #29
that means you care about the design? that should be similar to the one in the screenshot?
the nice thing about static pages is that maintenance is minimal and we don't have to care about that.
hosted ghost costs 29USD/months?

[2019-02-26 16:16] lemsadelavega commented on #29
Definitely I care about it ! But yea i thought there was a kind of free plan but there isn't... well so we use hugo ? but we will have to work on the design and not just using some template or at least find the right template

[2019-02-26 16:24] bumi commented on #29
:+1: ok, do you see a theme we can base on? https://themes.gohugo.io/

[2019-02-27 08:29] lemsadelavega commented on #29
Well actually I didn't find something outstanding or that is close to Medium or ghost design, maybe we should selected the closest one to them and the devs make some changes on it, would it be possible ?

[2019-02-27 10:51] bumi commented on #29
yep, that's what I mean. chose a base theme and then adjust the design for our needs.

but also keep in mind that currently we do not have any posts, and we are probably slow in writing new ones currently.
it will also be possible to update the theme later according to the amount of posts.

[2019-02-27 11:13] lemsadelavega commented on #29
ok great then, I am actually talking with Malek about our design needs for the blog so he will prepare some mockups and we will choose a template

[2019-02-27 11:21] bumi commented on #29
:+1:

[2019-02-28 09:48] MalekTN commented on #29
Hi guys, so i'm going to start customising the theme https://spreadprivacy.com/

so i want to know if there's functionnalities that you propose we add to it (search, login&signup, etc...)

[2019-02-28 10:00] bumi commented on #29
I'd say no login, search, etc. - there is no functionality that we need login for, is there?
and we don't have much content, so also no search should be needed.

also keep in mind, that we will have hardly any content in the next weeks - spreadprivacy.com seems to look good with quite some posts.

And if we use https://gohugo.io/ - we need to respect the template syntax and structure of the tool.

[2019-02-28 10:16] bumi commented on #29
I'd say no login, search, etc. - there is no functionality that we need login for, is there?
and we don't have much content, so also no search should be needed.

also keep in mind, that we will have hardly any content in the next weeks - spreadprivacy.com seems to look good with quite some posts.

And if we use https://gohugo.io/ - we need to respect the template syntax and structure of the tool.

[2019-02-28 10:56] lemsadelavega commented on #29
Agree with @bumi but don't find something close to what we want, isn't there another CMS we can look for ?

[2019-02-28 11:01] bumi commented on #29
how would another CMS solve the problem? - isn't it more a problem of the design of the suggested page?

[2019-02-28 14:18] lemsadelavega commented on #29
coz we didn't find the design wanted and don't if the guys are ok with working on a hugo template to make it as we want ?

[2019-02-28 14:55] craxrev commented on #29
found a medium like template https://wowthemesnet.github.io/mediumish-theme-jekyll/, it's based on **jekyll** but we can migrate it to **hugo**, what do you think guys? could we use it as a base template?

[2019-02-28 15:09] MalekTN commented on #29
I like it!

[2019-02-28 15:11] bumi commented on #29
:+1: (can also use jekyll if we want)

[2019-02-28 15:18] craxrev commented on #29
Alright coowl, I'll deploy it later on the dev server and see if it does need any changes from the design team

[2019-02-28 15:20] bumi commented on #29
I'd suggest we simply host it on github (using github pages) or netlify. no need to configure anything on our servers.

[2019-02-28 15:25] craxrev commented on #29
oh that's better, we'll do 👍

[2019-02-28 15:54] MalekTN commented on #29
allright then, see if there is any changes that suits our needs and let me know!

[2019-02-28 17:01] lemsadelavega commented on #29
daaaamn well done @craxrev how you manage to find it haha !
Definitely in, for this one

[2019-02-28 17:10] craxrev commented on #29
Hihihii, just the old way: google :sweat_smile:
btw, I'm installing it r n on github, having some "hosting" issues but will be online in a few minutes.. hopefully!

[2019-02-28 17:12] bumi commented on #29
let me know if you need help. I'm hosting my website also on github.

[2019-02-28 17:20] craxrev commented on #29
Actually, I'm working on integration the template with the github pages, there's something about adding remote_theme: username/repo to the _config.yml, but not sure yet, so yeah.. I need guidance here :sweat_smile:

[2019-02-28 17:21] craxrev commented on #29
oh, I've created a new repo named [coinsence.github.io](https://github.com/Coinsence/coinsence.github.io), not sure if yoou've seen it

[2019-02-28 17:26] craxrev commented on #29
I'm following this [article](https://help.github.com/en/articles/using-jekyll-as-a-static-site-generator-with-github-pages) from github

[2019-02-28 17:50] bumi commented on #29
I'd follow this: https://wowthemesnet.github.io/mediumish-theme-jekyll/about#usingmediumish

so you actually should adjust the _config.yml

and the tutorial maybe: https://jekyllrb.com/docs/step-by-step/01-setup/

do you have it running locally?

[2019-02-28 17:50] craxrev commented on #29
yes, actually I've just finished configuring it on live

[2019-02-28 17:57] craxrev commented on #29
The website is [live](https://coinsence.github.io/index.html) now, we can begin changing and adding content, @MalekTN and @lemsadelavega you can start interacting and see if there's any improvment that can be made.

[2019-03-01 08:17] MalekTN commented on #29
allright great!

[2019-03-04 13:21] bumi commented on #29
@craxrev what happened to the blog?

[2019-03-04 13:59] craxrev commented on #29
I've disabled the blog github pages because no content is published yet but you can get it back by renaming the blog repo

[2019-03-04 14:01] craxrev commented on #29
But still need to discuss wether we use a fork or a cloned version of the templates

[2019-03-04 14:09] bumi commented on #29
fork or clone is pretty much the same.

let's add todos to this issue of what you think is missing.

[2019-03-05 11:38] haythem96 opened #40 "Develop space aragon app smart contracts"

[2019-03-05 11:52] haythem96 commented on #40
As a member, I should have the ability to deploy a new space into the blockchain with the below proprieties:

- Space name
- Space description
- List of space members addresses (can be empty at first)

With the following functionalities:

- Get space basic info (name, description)
- Add members
- Get space members addresses

[2019-03-05 12:14] haythem96 commented on #40
**The Coinsence project architecture**

- Using a monorepo that will contain all packages (same as in this [POC](https://github.com/haythem96/coinsence-aragonos-poc))
- Each entity will have it is own aragon app (DAO app, Space app, Coin app...etc)
- Deploying a DAO that will manage permissions between those apps

[2019-03-05 17:31] haythem96 opened #41 "Develop coin aragon app smart contracts"

[2019-03-06 12:31] haythem96 opened #42 "Develop DAO smart contract"
Develop a smart contract for a DAO implementation of dao bare kit.
This DAO will manage the creation of new apps instances and manage the permissions between those apps.

[2019-03-06 14:14] haythem96 commented on #41
The Coin aragon app will have acl permissions, that will inherit an ERC20 contract from openzeppelin package.

_ACL permissions:_

- ISSUE_TOKEN

-
**All permissions will be created for the Coin app and will be granted to the space entity (this all done in the DAO newInstance)**

[2019-03-07 10:03] haythem96 opened #43 "Develop member aragon app smart contracts"

[2019-03-07 13:10] haythem96 commented on #43
Each platform member account will be linked to a smart contract address that contain few member properties that we may need at one point, and also IPFS hash of the member profile

[2019-03-07 13:19] bumi commented on #29
what is the status here? I'd like to net spend too much time on the whole blog setup :)  and rather optimize it step by step also when we have more posts.

[2019-03-07 13:27] craxrev commented on #29
I'm cleaning up the blog from demo content and testing locally changes and also waiting for design team to give me new assets (images, fonts, wordings)

[2019-03-07 14:09] craxrev opened #44 "Document deployment steps"
We should add a full documentation on how to deploy module updates and new feautres.

[2019-03-08 15:32] haythem96 commented on #42
As a first thought, the DAO will be deployed one time, each time a member want to create a new space, we call the newInstance() method to get new deployed space, coin....etc (any other app in that dao)

[2019-03-08 15:33] haythem96 commented on #23
what should we do for this XD @bumi ... we may leave it open in th progress for a while...

[2019-03-08 15:51] haythem96 commented on #43
I think for this one we don't need to have a deployed contract for each user address, we can have a contract that have all users with their informations(IPFS hash) ...

[2019-03-08 17:12] haythem96 commented on #43
and maybe even not putting this contract (app) into the DAO with the others apps....

[2019-03-08 17:29] craxrev commented on #29
For reference, https://github.com/Coinsence/meta/blob/master/docs/blogging.md is where you can find the blog documentation, if there's any thing that it is not clear, please inform us to better enhance it.

[2019-03-09 18:14] bumi commented on #23
I think from what we have seen and talked about we decided aragonOS is a good choice.
so even though we did not write a nice pro and contra decision list I'd say we can close this for now?

[2019-03-10 00:02] haythem96 commented on #23
I agree...

[2019-03-10 17:03] #23 closed

[2019-03-10 20:34] KarimChabrak commented on #27
Currently, the button appears, but does not work.

![image](https://user-images.githubusercontent.com/41925899/54091102-4c806780-437c-11e9-8521-838d2dabe9ee.png)

[2019-03-10 23:43] gdalyy commented on #27
The button works , but you don't have accounts that's why the list is empty.
This is what happens when i work without prior mockups.
Any way it's not a bug but why should have a notice to tell the user that he should create an account so that he can choose it as target account and then start the task

[2019-03-10 23:56] craxrev commented on #27
@gdalyy, you can make it disabled and if hovered, there'll be a small tooltip that tells him that there's no accounts? what do you think?

[2019-03-11 00:00] KarimChabrak commented on #27
my thinking was that user can select any account. The reason is that maybe your boss or your company shall get the money.
like when making transactions, user first selects account owner then selects account name+manager

[2019-03-11 00:07] KarimChabrak commented on #27
maybe we should also open a new issue where we should automatically
- enable the  accounting module for each user
- make for each user a default personal account

and we remove the button for the moment where user can create an additional personal account.

This  makes life easier for the user.

[2019-03-11 00:14] gdalyy commented on #27
Re :

Soundsgood to me.

For the shown accounts : What type of account should i display ? all type of accounts ? personal accounts only ? other spaces account managed by the user ? ...

[2019-03-11 00:29] gdalyy commented on #27
@craxrev your idea is good but by enabling accounting module for each user and making for each user a default personal account i think there is no need to disable the button and to add a tooltip.

[2019-03-11 00:32] craxrev commented on #27
I agree 👍

[2019-03-11 12:52] haythem96 opened #45 "Smart contracts-Humhub backend bridge"

[2019-03-11 15:18] bumi opened #46 "Setup CI and test coverage meassurement"
we need to setup CI to automatically run the tests after every push and pull request.
How does the tests work for humhub modules?
can we use travis-ci to run the tests for all our repos.

One number that we also want to report is the test coverage measurement.

[2019-03-11 19:30] KarimChabrak commented on #27
Check this. https://github.com/Coinsence/meta/issues/27#issuecomment-471367632

[2019-03-11 19:32] KarimChabrak commented on #27
As it is done for transactions. Any account can be selected, not only those related to the user. Check the process how a TARGET account is selected when someone makes a transaction.

[2019-03-15 15:11] gdalyy commented on #3
@bumi if you agree with what posted karim on trello about the crowdfunding promotion , can we start enhancing this feature ? if yes, @KarimChabrak can we please devide this into more small issues ? I propose that we have the following issues :
- crowdfunding creation issues ( introduction of new fields )
- crowdfunding list view within the space
- crowdfunding list view accessible via crowdfunding

[2019-03-15 16:16] KarimChabrak opened #47 "Enabling creation of a dedicated coin icon"
As space manager, i would like create a dedicated icon for my issued coins and not use the space picture as coins symbol. This gives me more design freedom.

[2019-03-15 16:22] gdalyy commented on #47
https://github.com/Coinsence/meta/issues/36#issue-411222476 same issue i think ?

[2019-03-15 16:38] haythem96 opened #48 "unit tests and code coverage for Space smart contract"

[2019-03-15 16:41] craxrev commented on #25
Any updates on this issue @bumi @KarimChabrak ? If there's any new information, please write it down here. I should start working on this asap.

[2019-03-15 16:43] craxrev commented on #44
This is a first draft: https://github.com/Coinsence/meta/blob/master/docs/ho-to-deploy-module-updates.md

[2019-03-15 17:30] bumi commented on #3
you decide! up to you, if you have everything...

[2019-03-15 18:13] KarimChabrak commented on #47
@gdalyy   true. I will close this issue.

[2019-03-15 18:13] #47 closed

[2019-03-15 18:19] gdalyy commented on #3
:+1:  @bumi
@KarimChabrak i need the separate issues

[2019-03-15 18:21] #44 closed

[2019-03-15 18:31] KarimChabrak commented on #3
@gdalyy  You can separate issues as you want,

We have already the crowd funding field in the actuall accounting module.    In the old version, you can create different crowdfunding request in a space (the main difference between different crowd funding initiatives within a space is the requested asset and the rate).

![image](https://user-images.githubusercontent.com/41925899/54454027-d489b700-47

[2019-03-16 12:21] gdalyy commented on #3
@KarimChabrak you didn't understand me well , but i'll create the issues on my own but please check details with me.

[2019-03-16 13:21] gdalyy opened #49 "Introduction of new fields in add/edit forms for crowdfunding"
As space admin, I shall be able to add the following information :

- [x] Title
- [x] Picture
- [x] Description
- [x] Deadline
- [x] needs
- [x] commitment
- [x] gallery

[2019-03-16 13:21] gdalyy commented on #49
@KarimChabrak i need your confirmation about unchecked fields

[2019-03-16 13:36] gdalyy opened #50 "Crowdfunding single overview"
As a user i shall be able to see all details of a crowdfunding campaign in a single page.

[2019-03-16 13:39] gdalyy opened #51 "Public crowdfunding campaigns list"
Design crowdfunding campaigns boxes and display new information in the public funding overview.

[2019-03-16 13:43] gdalyy opened #52 "Space crowdfunding campaigns list"
Design crowdfunding campaigns boxes and display new information within space funding overview.

[2019-03-16 14:48] haythem96 commented on #48
- [ use [solidity-coverage](https://www.npmjs.com/package/solidity-coverage) ]
- [ set up [https://coveralls.io/](https://coveralls.io/) ]
- [ set up [travis-ci](https://travis-ci.org/) ]

[2019-03-16 16:25] KarimChabrak commented on #49
Needs, commitment and gallery and any other info can be added by the admin if he has the freedom to edit his detailled project description.

[2019-03-16 16:26] KarimChabrak commented on #52
To make it easy, the same box could be used for the public and for the space internal campain

[2019-03-16 22:19] haythem96 commented on #48
space test run in the repo directory with: npm run test:space

[2019-03-16 22:19] haythem96 commented on #48
space code coverage run in the repo directory with: npm run coverage:space or npm run coverage

[2019-03-16 22:57] haythem96 commented on #48
set up travis task will be done in this [issue](https://github.com/Coinsence/meta/issues/46)

[2019-03-17 13:48] gdalyy commented on #52
Sounds good, so i'm closing this issue.

[2019-03-17 13:48] #52 closed

[2019-03-17 13:53] gdalyy commented on #49
I'm talking about common and necessary fields for each crowdfunding campaign ! Are we good with the list above ?

Any other information that admin wants to add , he can add it to the campaign description or we can use a rich text editor like we did with the space landing page.

[2019-03-20 01:00] gdalyy commented on #49
@KarimChabrak what do you think about using **humhub-gallery-module** to create crowdfunding galleries. See picture below.

PS : i'm not talkin about the main picture

![FireShot Capture 182 - Test Space - Coinsence - coinsence](https://user-images.githubusercontent.com/13172404/54651593-dda9b980-4ab3-11e9-944d-d83adee94c78.png)

[2019-03-20 22:00] KarimChabrak commented on #49
If the potential investor has to go to the gallery to see the picture, I would rather leave the gallery feature away for the moment, so every crowd funding can have only a single desicated picture which is visible in the corwd-funding space.

If you use the gallery only to store the picture, but they are visible in the detailled crowd-funding description, then I am fully ok with this.

[2019-03-20 22:52] gdalyy commented on #49
What i'm trying to say here, to create a crowdfunding campaign admin should :
1- create a gallery for the campaign and upload pictures into the gallery
2- create a camapgin , and in the last step of the form ,he links already created gallery to this campaign
3- all gallery pictures uploaded will be accessible in the crowdfunding overview (description)

What do you think ?

[2019-03-21 07:37] KarimChabrak commented on #49
Sounds good. But if it takes a lot of time to implement this, i would recommand to de-prioritize this for the moment. And add this as new issue for later iterations.

[2019-03-21 14:02] bumi commented on #41
I think we have an issue with using openzeppelin... as those are not AragonApps and thus are not compatible with a proxy contract we can not easily inherit from one of the openzeppelin contracts.

[2019-03-21 14:09] bumi commented on #24
closing this, as we decided to build using aragonos

[2019-03-21 14:09] #24 closed

[2019-03-21 14:11] bumi commented on #40
this is done for the initial version, or is anything missing?

[2019-03-21 14:12] haythem96 commented on #40
I think it is done, some functionalities maybe will be added later to work with the coin app (like using the space as oracle to check if that is a member...)
For now done

[2019-03-21 14:13] haythem96 commented on #41
why not compatible with proxy contract ?

[2019-03-21 14:23] bumi commented on #40
yep. great. closing this.

[2019-03-21 14:23] #40 closed

[2019-03-21 14:26] bumi commented on #41
actually I think I am wrong...
I thought they rely on the constructor calls (which is not called when behind a proxy).
but the token contract does not have that: https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC20/ERC20.sol#L127

[2019-03-22 14:20] haythem96 commented on #41
for the issuing token, for now the space manager will get the ISSUE_ROLE to issue token for the space.

[2019-03-22 14:22] haythem96 commented on #48
all tests pass and 96% code coverage

[2019-03-22 14:22] #48 closed

[2019-03-22 14:23] haythem96 opened #53 "unit tests and code coverage for Coin smart contract"
- [x] write unit tests
- [x] use [solidity-coverage](https://www.npmjs.com/package/solidity-coverage)

[2019-03-25 16:09] KarimChabrak commented on #3
@gdalyy

In the current version, in the details view, I see the first picture twice (ones as a main picture and also in the gallery).   The first picture shall not be shown in the gallery (only as  main picture)

[2019-03-25 16:10] KarimChabrak commented on #3
@gdalyy   When clicking on a crowd-funding campain, I would like as user to be directly direct to the detailled description, (not first to the space internal crowd-funding space)

[2019-03-26 14:24] KarimChabrak opened #54 "Different accounts for crowd-finding"
When creating different crowd-funding initiative, I would like to be able to allocative different accounts to each initiate, this enables me to track separately the progress and the collected coins for each initiative.

[2019-03-26 14:26] KarimChabrak opened #55 "Enable user comments and discussions which are dediated to crowd-funding initiatives"
As use, I would like to comment crowd-funding initiatives to help initiator and other potential investors with additional information and to ask questions which are transparently visible for other.

[2019-03-28 15:15] KarimChabrak opened #56 "Crowd-funding image mismatch"
When uploading imageds in the crowd-funding description.

- These images are then shown double  (within the description and as a gallery).
- The first image added to the text is used as crowd-funding main picture.

The user shall be clearly have separate picture types:
- The main picture (at least the user shall be asked to upload this before starting the description).
- Gallery pictures.
- Pictur

[2019-03-29 10:55] KarimChabrak commented on #56
@gdalyy   as discussed.   We could first leave away the gallery.  So that user cxan only add the main picture and all other pictures can be added to text within "Needs & Commitments"

[2019-03-29 10:57] KarimChabrak opened #57 "Change in Crowd-funding the wording "Needs and commitments" to "Project details""
As user creating a crowd funding initiatives, i am confused by the title "Needs and commitment". It's more clear for me is the tool simply asks for "Project details"

[2019-03-29 11:08] KarimChabrak commented on #22
@gdalyy
Please check if you could add this soon to avoid user confusion when user for not have requested coins.
When investing, show only the accounts which include a positive amount of the requested asset. In case user does not have requested asset, show the message "sorry, you have no accounts which includes the coins requested here"

[2019-03-29 11:16] bumi commented on #22
no, we never can add anything soon. please, let's go though some prioritization process and stick to what we planned there.

[2019-03-29 11:54] gdalyy opened #58 "Removing extra menu items"
Remove the followings top menu items :
- directory
- asset exchange
- tasks

[2019-04-01 16:23] craxrev opened #59 "Humhub big res profile image upload not working"
Log:
`
yii\base\Exception: Image /var/www/coinsence/htdocs/uploads/profile_image/3fe076ef-c277-448d-adbc-7b72cc770d07_org.jpg too large to be resized. Increase MAX_MEMORY_USAGE in /var/www/coinsence/htdocs/protected/humhub/modules/file/libs/ImageConverter.php:166
`

It seems that humhub does not handle uploading image with big resolution very well, like for example an image with a res of 4000x6000

[2019-04-01 16:31] craxrev commented on #59
The problem seems to occur exactly when humhub tries to decrease the image res by resizing it, that's when humhub will need to allocate the memory needed for the processing.

[2019-04-01 17:02] #53 closed

[2019-04-01 17:02] #41 closed

[2019-04-01 21:49] KarimChabrak opened #60 "Improve the email space invite content"
When i invite user to join the platfrom, I would like to edit the email content to ensure that the invite is sent in the right language and ensure that the content is am sending motivates the user to join.

[2019-04-01 21:51] KarimChabrak opened #61 "change the text on the crowd-funding initiation button"
Currently i see on the crowd initiation button thetext "Make asset offer", this is not clear for me. I prefer a button with the text "Create you crowd-funding campain"

[2019-04-01 21:55] KarimChabrak opened #62 "Improve registration prozess when receiving an invite from other user"
Currently, when receiving an invite, I am directed to the registration site, when clicking on registration, i receive again an email, then i can move from there to the site where i can set my password etc.

 prefer after receiving an invite email to have a link to directly be able to move to the site where i can set my name and password and directly enter to the platform.

[2019-04-01 22:15] KarimChabrak opened #63 "Simplify crowd-funding initiation prozess."
When i start a crowd-funding I have as a user to make different steps which colud be simplified.

Skip step 1. No need to manually search for Coinsence Community Coin

![image](https://user-images.githubusercontent.com/41925899/55797172-0da11700-5acc-11e9-8a85-4e9d45437d5f.png)

- We can automatically set "Coinsence Community Coin" as default requested coin and offer in the next step the option to

[2019-04-02 09:54] haythem96 opened #64 "Develop DAO kit smart contracts"

[2019-04-02 09:57] haythem96 commented on #64
Deprecated [issue](https://github.com/Coinsence/meta/issues/42)

[2019-04-02 09:57] #64 closed

[2019-04-02 09:58] haythem96 commented on #42
The DAO for now will have two apps: space and coin app

[2019-04-04 11:22] gdalyy opened #65 "Marketplace add/edit product"
As a simple user i would like to be able to add products to the marketplace.

A product has as fields :
-  product name
-  product simple description
-  product detailed description ( rich text editor )
-  product main picture
-  price ( in requested asset )

[2019-04-04 11:23] gdalyy commented on #65
@KarimChabrak can spaces sell products too ?

[2019-04-04 16:25] KarimChabrak commented on #65
yes. Spaces can also sell products and services.

[2019-04-05 09:57] KarimChabrak opened #66 "Optional disabling of "direct coin transfer" from space accounts"
As space administator, I wolud like to ensure that issued and internally distributed coins can only be distributed via crowd-funding.

I propose to add the setting for administrator, where I can disable the "transfer" button from accounts. Simply making these buttons for space members not visible in the account overview and account details.

[2019-04-09 12:45] SeifBa opened #67 "Space landing page bug"
![digital arabia network](https://user-images.githubusercontent.com/46401803/55801263-f7985400-5ad5-11e9-86ad-a74038141007.png)

The landing page space of digital arabia network it doesn't show as a whole page: you can check the image.

the link : https://community.coinsence.org/s/digital-arabia-network/xcoin/funding/overview?fundingId=21

[2019-04-09 17:40] craxrev opened #68 "Integrate landing page with humhub"
Currently we have a problem with landing page integration, where we would have to disable the csrf check for the login form of humhub to be able to link the email fields of the landing page with its counter part in the humhub login page.

So this is just a workaround and a solution should be found.

[2019-04-10 09:41] haythem96 opened #69 "Implement Meta Transactions"
"Using this method we are able to interact with the blockchain from accounts that don’t hold any Ether."

- https://medium.com/@austin_48503/ethereum-meta-transactions-90ccf0859e84
- https://github.com/austintgriffith/bouncer-proxy

[2019-04-10 09:44] haythem96 opened #70 "Integrate smart contracts into humhub"
In order issue coins on the etherum smart contracts we need to integrate the humhub application with the smart contracts.
integration means that humhub needs to initiate contract calls.

@bumi recommendation: write a wrapper around the ethereum smart contracts that expose a rest interface that can be called from humhub

[2019-04-10 09:45] #43 closed

[2019-04-10 09:45] #42 closed

[2019-04-10 09:47] haythem96 commented on #45
Will be closed, deprecated [issue](https://github.com/Coinsence/meta/issues/70)

[2019-04-10 09:47] #45 closed

[2019-04-10 12:06] KarimChabrak commented on #63
@gdalyy
My proposal to make it simple for dev and user.

We introduce a botton (see left green botton below) for simple process to start a campaign.

When user selects this botton:
**We ask user for "Maximum Requested amount of Coinsence Community Coins** then:
-  We automatically set "Coinsence Community Coin" (CCC) as default requested coin
-  We automatically set "maximum offered amount" to "Ma

[2019-04-10 12:17] bumi commented on #63
please consider planning the feature in more detail and with the users etc.
we should not constantly throw such changes on the feature. this is endless and is not really solving the actual problem.

here for example I'd argue the user now has two buttons and it makes it even more complicated.
also it invalidates our concept as now  the one CC coin becomes the main coin.

in anyway as discussed in

[2019-04-10 12:34] KarimChabrak commented on #68
@craxrev   Then I would consider this issue as solved.

If there are any security issues, we can add an new issue which is directly related to CSRF.

By the way, please be more specific in the title, when you add a new issue to help other itentify the exacto topic from the title.    I know, i have also follow more this recommendation ;-)

[2019-04-10 12:39] craxrev commented on #68
I think with title changed.. this issue should remains open till it's resolved, it's no more a general issue.

[2019-04-11 16:47] KarimChabrak commented on #65
Some comments regarding acutal version
*********************************************
- all spaces appear in the selection of payment asset, even if they did not issue coins.

*********************************************
- before price, user shall be able to select OFFER TYPE, with two option "Discount for coins" or "Total price in coin". If user select discout, the he gives discount in percentage

[2019-04-11 16:50] KarimChabrak commented on #65
Some comments regarding acutal version
*********************************************
- all spaces appear in the selection of payment asset, even if they did not issue coins.

*********************************************
- before price, user shall be able to select OFFER TYPE, with two option "Discount for coins" or "Total price in coin". If user select discout, the he gives discount in percentage

[2019-04-11 16:51] KarimChabrak commented on #65
Some comments regarding acutal version
*********************************************
- all spaces appear in the selection of payment asset, even if they did not issue coins.

*********************************************
- before price, user shall be able to select OFFER TYPE, with two option "Discount for coins" or "Total price in coin". If user select discout, the he gives discount in percentage

[2019-04-14 14:31] gdalyy opened #71 "Chaning Icon for Crowdfunding"
Change the line-chart icon to leaf icon for crowdfunding to fit product design

[2019-04-15 12:53] bumi commented on #70
which events trigger which contract call?

### space creation => DAO initialization. / coinsencekit#newInstance
* owned by the user who creates the space
* if the user does not have a wallet yet, we need to create one => how do we fund it to pay for gas fees?

###  coin issuance => token minting
* currently only possible to etherum accounts/wallets - is that a limitation on humhub?

[2019-04-15 13:45] haythem96 commented on #70
###accept member request to join space => spaceApp#addMembers()
* need to be called by the space owner to add a member

###space member leave => spaceApp#leaveSpace
* can be called by a space member to leave a space

[2019-04-15 13:51] haythem96 commented on #70
for the member request to join space, @gdalyy maybe need to pass member address as additional info in the join request (to save it in the request table, request object or whatever... the way humhub currently work..he knows better XD ) so that later when space owner accept that request, humhub can call the contract function through the API (to pass to the API the member address to be added)

[2019-04-15 14:33] gdalyy commented on #70
from where i can get the correct member address ? through an API call ? so that i can store it in MYSQLdb and then use it whenever there is a need !

[2019-04-15 14:35] bumi opened #72 "Initialize ethereum DAO on space creation"
When a user creates a space we need to create the related ethereum DAO.
We do that through an HTTP API call to our smart contract wrapper.

HumHub needs to store the DAO ethereum address in the database.

## ToDos:

- [x] HTTP wrapper endpoint
- [x] humhub HTTP call

## Questions:

* When do we create the user's ethereum wallet?
* How do we make sure that the creator/owner account has enough funds

[2019-04-15 14:37] gdalyy opened #73 "Turn on "comment field" for marketplace products"
We need to turn on the `comment` field in product model , so that user can be precise about the price of a product.

The comment field will be a select list with the following options :
- Per unit
- Per hour
- Per day
- Per service

[2019-04-15 14:38] haythem96 commented on #72
for the ethereum wallet, I think it will be good to create it when a user create an account in the platform

[2019-04-15 14:38] bumi opened #74 "Create Ethereum wallet for humhub accounts"
In the first step we store the ethereum wallets for the accounts.

To make sure every account has an ethereum account/wallet and enough funds we need to initialize a new wallet once an account is created.

This does not scale and costs us ETH to fund the accounts, but that's good for the first step and we don't have so many users in the first step

- [x] HTTP wrapper endpoint

- [ ] humhub HTTP ca

[2019-04-15 14:41] gdalyy commented on #72
Does the creator/owner has to pay in order to create a space ?

[2019-04-15 14:42] bumi opened #75 "Join ethereum DAO when a member joins a space"
The etherum contracts store a list of accounts that participate in a space.
When a user joins a space we need to do a call to the wrapper HTTP interface.

### ToDo:
- [x] HTTP API
- [x] humhub integration

### Questions:
*  when has a user joined a space in humhub? is there a confirmation from the space owner required?
* can we store some information (ethereum transaction ID) about the call in a "

[2019-04-15 14:43] bumi commented on #72
any ethereum transaction costs money (called GAS). So yes the creator has to pay for that.

[2019-04-15 14:45] bumi commented on #74
we can do the wallet management in the wrapper HTTP app.
which means we can expose an interface to create wallet:
something like:
`POST /wallets` with params: `userId=humhub userid`

[2019-04-15 14:47] haythem96 commented on #72
I thought about this...let's say we deploy the contracts in Rinkeby, we create a coinsence wallet where we fund this wallet with eth, each time a user create an account we just send him some eth from that wallet...in this case we only need to make sure that the "coinsence" wallet have eth.

I can't find a way to automate the process of a wallet getting some eth from Rinkeby with a script or someth

[2019-04-15 14:50] gdalyy commented on #73
`comment` field will be renamed to `payment_type`.

[2019-04-15 14:53] bumi commented on #72
yeah, we should collect some rinkeby ETH for that already.

[2019-04-15 15:04] bumi opened #76 "Ethereum integration for coin issuance"
When a ~~user~~ space manager/owner issues new coins we need to issue those on the ethereum smart contract.

- [x] HTTP wrapper endpoint

- [x] humhub HTTP call

[2019-04-15 15:47] gdalyy commented on #76
Users can't issue coins , only spaces can issue their coins

[2019-04-15 16:01] bumi commented on #76
which is triggered by some user :)
in the first step we probably only have user accounts on ethereum. Or @haythem96 should we also create a wallet for the space itself?

[2019-04-15 16:04] haythem96 commented on #76
mm I don't think so... let's keep it this way for now
Later we can modify the issuing coin process (by voting from all space members and maybe using a vault or a multisig wallet for the coin issuing) but in all cases, an user need to trigger the action, a space can not by itself create/issue a token...

[2019-04-15 16:11] gdalyy commented on #76
From humhub side when space administrator issue coins , then an account [ISSUES as type] with space id is created not with user id , i think we should do the same thing on blockchain level ! spaces must have their own wallets .

[2019-04-15 16:14] haythem96 commented on #76
I think at some point we need to modify humhub even if we want to modify the minimum code there... at the end it wasn't built for Coinsence.

[2019-04-15 16:18] gdalyy commented on #76
No, **xcoin** module is built for coinsence , it's true that a space account is managed by a user, but it belongs to the space itself not to a moderator user, so i think it's better that same as users , spaces can have their own wallets

[2019-04-15 16:19] bumi commented on #76
coins are issued for one recipient - afaik in coinsence right now stores coins associated with an account which is managed by one or more users, correct?
in the smart contracts coins are owned by an "account" - which is a wallet or a smart contract (mutli-sig vault, voting contract, etc.)
so war we only have wallets.

we could think about creating a wallet for every "account" in humhub?

[2019-04-15 16:23] gdalyy commented on #76
Every account in coinsence is managed by one and only one user.
I think it's better to create a wallet for every account.

[2019-04-15 16:31] haythem96 commented on #72
how much ETH do u think we need ?

[2019-04-15 17:15] bumi opened #77 "Deleting space currently raises an exception"
Deleting a space currently raises an exception. not sure which exception but I think something like a DB integrity exception.

[2019-04-15 17:16] bumi opened #78 "Do not show exception details in production"
currently code and DB details are shown on exceptions in production. We should not expose that information in production.

[2019-04-15 17:18] bumi commented on #76
ok, so we will create an ethereum wallet for every account.

[2019-04-15 17:37] bumi commented on #72
creating a new DAO is probably expensive... need to check again what it was in gas. but maybe $100 ?
the rest should be ok. so maybe we fund the accounts for now on testnet with 1-2ETH. we review that once we plan mainnet release.

[2019-04-15 23:39] haythem96 commented on #75
* I think space owner need to accept user request to join space

[2019-04-16 04:19] KarimChabrak opened #79 "Pre-select CCC in crowd-funding and marketplace"
As currently mainly ccc is a serious cummunity coin which is also  highly propoted by the core team, i propose to pre-select "Coinsence Community Coin" for crowd-funding and marketplace.

User shall be of course be able to change this manually.

[2019-04-16 04:20] KarimChabrak commented on #79
A more flexible solution, is when a user can set a preferred coin in his personal settings.

[2019-04-16 07:43] bumi commented on #75
but do we need to do that in the contract? or can we simply add the user to the space once the membership is confirmed in humhub?

[2019-04-16 09:07] haythem96 commented on #75
yup that's what we will do, there is no join request in the contract... we keep everything as it is now, one the membership confirmed by the space manager on humhub we add the user on the contract.

[2019-04-16 13:52] craxrev opened #80 "Crowdfunding projects / products cover images are stretched"
Cover images shouldn't be stretched like that, we should fix that and make it respect the aspect ratio of uploaded images.

[2019-04-22 08:52] bumi commented on #74
maybe we can show the user the mnemonic codes on request or during setup in their profile?

[2019-04-22 09:31] haythem96 commented on #74
yeah good idea... at least the user have something related to his wallet for now.

[2019-04-29 17:03] #80 closed

[2019-04-30 13:39] KarimChabrak opened #81 "Automatic creation of account and allocation of coins"
Currently, i have manually to create for each user joining my space and account and allocate coin. This is a lot of work.
I would like that every user who joins the space gets automatically and account and recieves coins to this account.

The following parameter shall be set by space admin:
- Name of the account.
- From account (this is an account which is managed by the admin and from where coins

[2019-04-30 13:45] KarimChabrak opened #82 "Set accounts only for crowd-funding"
As space admin, i would like to ensure that coins can only be tranferred outside the space via crowd-funding. I need this option which disables direct transfer from user managed account within my space.

[2019-05-01 10:25] SeifBa opened #83 "Disable Facebook and Linkedin login"
There is an error in login via facebook and linkedin. I think it's better to disable it.

[2019-05-02 16:24] bumi opened #84 "Show ethereum details to users in humhub"
- [x] Account Ethereum address on account details:
http://dev.coinsence.org/index.php?r=xcoin%2Faccount&id=64&cguid=1d082dc7-08a6-40a9-8a4b-bcde95fe23ab
links to: https://rinkeby.etherscan.io/address/[ACCOUNT ETH ADDRESS]

- [x] Show Ethereum DAO address on space accounts list? (or somewhere else?)
http://dev.coinsence.org/index.php?r=xcoin%2Foverview&cguid=9f401a54-3305-4276-80b7-b15c9f9f1d7b

-

[2019-05-05 14:46] craxrev opened #85 "optimize page loading time - cropping cover images"
We should consider incorporating cropping cover images when uploading so that we don't have to load the raw image each time it's requested, it can cause a huge amount of time loading.

e.g. when loading the marketplace page, it can reach to a 22MB of traffic, which can be very consuming in data network and a horrible experience in slow networks.

An example in the image below:
![image](https://use

[2019-05-09 17:27] craxrev opened #86 "product page showing products of connected user instead of selected profile"
I just got a feedback from one of the users:
this page is showing the products of the connected user, instead it should be listing the products of the profile.

![image_2019_05_09T17_11_48_697Z](https://user-images.githubusercontent.com/17573483/57473257-b1c6db00-728f-11e9-9a85-1cdbe4bf8e6b.png)

[2019-05-10 16:28] craxrev commented on #86
fixed in https://github.com/Coinsence/humhub-modules-xcoin/pull/21

[2019-05-10 16:28] #86 closed

[2019-05-11 11:43] haythem96 opened #87 "Improve coinsence-monorepo repository documentation"
Write a better/clear/easy to understand documentation on how to work with [coinsence smart contracts](https://github.com/Coinsence/coinsence-monorepo)

[2019-05-13 10:34] craxrev opened #88 "Properly reorganize xcoin module styling code"
As proposed by **Felli** and previousely by **ghaith** & **me**, we should consider moving all the style blocks into the module css file.

[2019-05-13 17:19] gdalyy opened #89 "Enabling manually ethereum for existing spaces"
Add a button for existing spaces to enable ethereum integration.

[2019-05-15 11:00] #88 closed

[2019-05-15 11:31] gdalyy opened #90 "Disable Crowdfunding creation when asset is missing"

[2019-05-19 01:18] KarimChabrak opened #91 "Space Admin (not owner) can not start or edit crowdfunding proposal."
As space admin, I can not create or edit crowdfunding proposal. It seems that only space owner can do this.
As space owner i would like to allow selected supporter  (e.g. coinsence team or other who e.g. get admin ritghts) to create and edit my space campaigns.

[2019-05-23 02:08] pcP1r4t3 opened #92 "Merge step 1 and step 2 of "add asset offer" form in one step"
The requested asset selection and exchange rate definition should be in the same form step.

[2019-05-23 12:54] craxrev commented on #92
_coowl_ @gdalyy what do you think?

[2019-05-23 13:18] gdalyy commented on #92
It would be better , go for it

[2019-05-24 07:48] KarimChabrak commented on #90
Dear @gdalyy

do you mean here, handle the issue of crowdinvesting when asset is missing?

![image](https://user-images.githubusercontent.com/41925899/58311167-a4216180-7e08-11e9-84ef-08d47e5ede0a.png)

If yes, I propose to show the user only accounts which contain the requested coins, if he has not account containing the coins, then we show the message "You have no accounts with the requested coi

[2019-05-24 08:01] KarimChabrak opened #93 "Multiple crowdfunding campaigns from one space, need multiple crowdfunding accounts"
As association with different activities and projects, we would like to create multiple crowdfunding campaigns for crowdfunding.

Currently, there is only one crowdfunding account. So, in case of more than one campaign from a space, we do not see for which project people have invested and we can not control  the maximum investment for each campaign.

We would like to have separate crowdfunding acc

[2019-05-24 12:07] KarimChabrak commented on #66
Issue #82  is the same

[2019-05-24 12:07] #66 closed

[2019-05-24 13:16] gdalyy commented on #90
No , i mean disable crowdfunding creating when there is no issued coins for the space in question

[2019-05-24 14:50] KarimChabrak opened #94 "Add delete button beside edit buttor for products and crowdfunding campaigns"
Deletion is hard to find.

[2019-05-24 21:49] KarimChabrak opened #95 "Show in crowdfunding only accounts with contain requested coins"
As user i have to select when willing to invest in crowdfunding from multiple accounts, also those which are not relevant because they do not contain requested coin.

![image](https://user-images.githubusercontent.com/41925899/58358133-df11ac80-7e7d-11e9-95e2-b887c55735ad.png)

If i request a wrong account and put a high amount, then iget an unclear message

![image](https://user-images.githubuser

[2019-05-25 12:10] #79 closed

[2019-05-25 12:35] haythem96 opened #96 "Error opening a created note"
When adding a note (under "Note") and then trying to open it again ("Open Note"), the following error appear:
![grafik](https://user-images.githubusercontent.com/17862704/58369421-fdb18b00-7ef1-11e9-8f8a-6016e7931f60.png)

[2019-05-25 12:39] haythem96 opened #97 "Disable making transaction when asset is missing"
When making a transaction without an available asset, the following error message appear: "no assets available on this account".
And since then the window in the top has not stopped loading...I can navigate forth & back b/w pages with the arrows in the browser, but the window doesn't disappear.
![grafik (1)](https://user-images.githubusercontent.com/17862704/58369462-82040e00-7ef2-11e9-9b96-04abd2

[2019-05-25 12:43] haythem96 opened #98 "Update testing platform"
Development and testing platform should be up to date with the production platform.
Every functionality/feature that is implemented in the production platform should be available in the dev&test platform.
the dev&test platform can have a feature that is not yet implemented in the production platform, but not the other way.

[2019-06-04 03:52] gdalyy opened #99 "Disable transferring back coin to ISSUE account"
Since `ISSUE account` is the only account that does not have a wallet on blockchain , we should not allow space administrators to transfer back coin to `ISSUE account` otherwise transfer function will not work.

Not triggering ether transfer function from humhub side when detecting that the receiver account is the `ISSUE account` is feasible but in this case we'll have wrong balances on blockchain

[2019-06-04 10:08] haythem96 opened #100 "Develop funding aragon app smart contracts"
As a space owner, I should have the ability to create a crowd funding campaign.

[2019-06-04 10:09] #76 closed

[2019-06-04 10:11] #75 closed

[2019-06-04 10:11] #74 closed

[2019-06-04 10:11] #72 closed

[2019-06-04 10:11] #84 closed

[2019-06-04 11:05] haythem96 commented on #100
A crowdfunding campaign have the following properties:

- Campaign name
- IPFS description hash
- start date
- end date
- requested coin
- exchanged coin

[2019-06-08 12:55] #92 closed

[2019-06-08 12:58] KarimChabrak commented on #81
For simplification, may be we make only the option with new issue.

Title, amount and comment are set by the space admin who activated this feature.

![image](https://user-images.githubusercontent.com/41925899/59147574-af29e380-89fd-11e9-9a58-c4c62799b816.png)

![image](https://user-images.githubusercontent.com/41925899/59147547-66722a80-89fd-11e9-9610-ea47211529e9.png)

[2019-06-08 13:14] KarimChabrak commented on #99
@gdalyy     This transaction to issue account should normally trigger  COIN burning in Blockchain.

But as this is at the moment not important, i propose to not show the issue account in the list shown below.

![image](https://user-images.githubusercontent.com/41925899/59147766-dd102780-89ff-11e9-95a2-3836654a3ad5.png)

Normally, we should remove the issue account completely and just display somew

[2019-06-08 13:16] KarimChabrak commented on #83
@craxrev    I this this issue is already closed by you. Please close it, if yes.

[2019-06-08 13:31] craxrev commented on #83
yes it's fixed, but I think I may refactor it, have to closed some PRs before doing so

[2019-06-08 17:48] gdalyy commented on #99
I asked for this since we're not migrating issue accounts on the blockchain.

[2019-06-08 19:31] KarimChabrak commented on #99
Of you agree @gdalyy , you are welcome to remove issue account

[2019-06-20 09:38] gdalyy opened #101 "Crowdfunding optimization"
description in file below :
[Crowdfunding Optimization](https://drive.google.com/open?id=1g9btYm0X-mHAGCoer8ksdm7XmQ0NMoMA)

[2019-06-21 19:41] #81 closed

[2019-06-30 19:55] #97 closed

[2019-06-30 20:35] #71 closed

[2019-06-30 20:35] #101 closed

[2019-06-30 20:36] #73 closed

[2019-06-30 20:36] #93 closed

[2019-06-30 20:36] #65 closed

[2019-06-30 20:36] #34 closed

[2019-06-30 20:36] #49 closed

[2019-06-30 20:36] #51 closed

[2019-06-30 20:36] #58 closed

[2019-06-30 20:36] #3 closed

[2019-06-30 20:36] #50 closed

[2019-06-30 20:36] #33 closed

[2019-06-30 20:36] #27 closed

[2019-06-30 20:36] #28 closed

[2019-06-30 20:39] gdalyy commented on #95
Done within the crowdfunding optimization

[2019-06-30 20:39] #95 closed

[2019-07-01 00:33] gdalyy commented on #77
Fixed in tup#77

[2019-07-01 00:34] gdalyy commented on #56
fixed

[2019-07-01 00:34] #56 closed

[2019-07-01 00:37] gdalyy commented on #94
Will add the delete button only for products , because as discussed for campaigns we should not allow campaigns delete unless we find a solution for balances and transactions

[2019-07-01 01:16] gdalyy commented on #94
done in tup#94

[2019-07-01 01:22] #94 closed

[2019-07-01 01:24] #63 closed

[2019-07-01 09:12] KarimChabrak opened #102 "Introduce approval process for crowd-funding and marketplace"
To ensure higher quality of crowd-funding projects and marketplace offers, we should introduce a filter to show only offers which are reviewed by a selected community.

For crowd-funding and marketplace, this filter is enabled by defaults and shall be easily disabled by user with a single click from marketplace or crowdfunding place.

For the review process, we need to define a new roles for selec

[2019-07-01 09:15] KarimChabrak opened #103 "Introduce while list for crowd-funding from CCC space accounts"
To ensure that coins are not allocated by fake user to fake projects, we should introduce a process which should enable transactions from "community investor" accounts only to "reviewed crowd-funding" campaigns.
The review process is described in issue #102

[2019-07-01 09:18] KarimChabrak opened #104 "Multiple allocated on CCC when user leave and join CCC space."
When user leave CCC space and join the space again, they get additional 50CCC even though they might have receiver CCC before.

As space admis, i want to ensure that user does not get multiple times CCC.

[2019-07-01 09:22] KarimChabrak opened #105 "User phone number verification"
As space admin, fake user could allocate coins to projects without beeing real persons, leading to decisions which are not representatives and also to fraud.

I would  like to increase the probability that user are real without extensive verification process. One of the solutions is when user join my space, they have to set their phone number and confirm this with a code they receive.

[2019-07-03 11:54] SeifBa opened #106 "Task module- display the coins allocated to the task"
The coins allocated to the task are not displayed in the task lists.
![image](https://user-images.githubusercontent.com/46401803/60589621-3cace900-9d9a-11e9-934e-90080194699c.png)

![image](https://user-images.githubusercontent.com/46401803/60589665-564e3080-9d9a-11e9-8ec9-62f123f97a40.png)

[2019-07-03 11:56] gdalyy commented on #106
Will do that , its important to see coins amount on the task overview.
 What do you think about allocating coins automatically through the task creation form ?

[2019-07-03 11:57] SeifBa opened #107 "Task module - allocating coins directly when opening new task"
The allocation process is complicated and time consuming.
we need to optimize allocating coins directly in the task it self. without going to account then sending coins to task.

[2019-07-03 12:03] SeifBa commented on #106
#107  ;)

[2019-07-03 12:36] SeifBa opened #108 "Task module- task is done and coins sent"
When I check that task is done, an error occur.
we need to choose the payment account and if users doesn't have a default account he needs to make one ..

[2019-07-05 16:02] SeifBa opened #109 "Default account setting"
When the coins are sent to a user it requires a default account. I guess default account should automated.

[2019-07-08 08:57] KarimChabrak commented on #109
agree with @SeifBa  .   We should maybe create for each user a single personal account and also hide the feature enabling user to create additional personal accounts.

[2019-07-08 09:01] KarimChabrak commented on #104
@pcP1r4t3    could you add a verification process here.

VERIFY IF USER HAS ALTREADY AN ACCOUNT IN THE SPACE; IF YES the automatic coin allocation funtionality is not performed and thus no coins are allocated.

[2019-07-08 10:25] pcP1r4t3 commented on #104
OK  @KarimChabrak , I will implement that.

[2019-07-09 15:12] gdalyy commented on #104
i'm working on this

[2019-07-13 20:03] KarimChabrak opened #110 "Notification for coinsence community join request"
Moderators should be notified about join request and should be able to easily accept or reject thes requests.
When when request is processed, notification should disappear.

[2019-07-13 20:09] KarimChabrak opened #111 "Crowdfunding and marketplace review."
We need a filter for marketplace and crowdfunding where user can select to see
- reviewed offers (default settings)
- all offers

Offer (marketplace and crowd funding) initiator should see the indication "not reviewed offer" untill it is reviewed by a platform moderator then he see the indication "reviewed public offer".

[2019-07-15 12:51] #89 closed

[2019-07-17 13:51] #104 closed

[2019-07-17 13:52] #99 closed

[2019-07-17 15:54] KarimChabrak opened #112 "Days left in crowdfunding campain is wrong when date is in the past."
When the date is in the past, the number of days left is positive and starts to increase.    Crowdfunding campain should be disabled when date is in the past.

(what happens with investments and transactions when campain is disapled should be discussed in the crowd-funding disabling and cancellation topic)

[2019-07-17 16:05] KarimChabrak opened #113 "Disabling or cancellation of crowd funding campain vs closing or accepting investment"
User shall be able to disable or cancel a crowd funding campain.

In this case, all related transactions shall be reversed.

To ensure that this is possible.
- Transactions of coins from project crowdfunding account to somewhere else
- transactions of project coins from investors accounts to somewhere else
are only possible when crowdfunding campain is CLOSED by project owner.

Closing a campain m

[2019-07-17 23:55] #82 closed

[2019-07-18 10:45] gdalyy commented on #113
cc @pcP1r4t3

[2019-07-29 10:58] #111 closed

[2019-07-30 11:13] haythem96 opened #114 "Show wallet address as QR code"
As we need the QR code of wallets for the mobile app, user should be able to see a QR code that represent his wallet address (humhub side) so it get scanned by the mobile application.

[2019-07-30 11:14] haythem96 opened #115 "Show space coin address as QR code"

[2019-07-30 11:14] haythem96 opened #116 "Import wallet private key"
The user should be able to import private key of any wallet belong to his account (platform account)

[2019-08-03 12:47] #114 closed

[2019-08-03 12:49] gdalyy commented on #115
I'll do the same thing for the dao address

[2019-08-03 13:48] #115 closed

[2019-08-03 15:08] gdalyy commented on #116
where to import the pk ?

[2019-08-05 16:37] haythem96 commented on #116
by import I mean just displaying the private key

[2019-08-05 16:42] haythem96 commented on #116
the private key is the content of `.key` file in the API so we need an endpoint to get the file content by the account guid.... for now this is not a priority, let if for month of September.

But just for contest, we can have like a button in front of each user account(wallet) when it get clicked, he need to confirm with the platform account password, if the password is correct then get the privat

[2019-08-09 23:41] haythem96 opened #117 "Use ens with each user profile in humhub"
Associate different user accounts to an ENS name and use it for search in coins transfer (instead of name search through humhub DB)

[2019-08-26 07:33] #61 closed

[2019-08-26 07:34] #57 closed

[2019-08-26 07:38] #54 closed

[2019-08-26 07:39] #39 closed

[2019-08-26 07:41] #32 closed

[2019-08-26 07:42] #26 closed

[2019-08-26 07:53] #7 closed

[2019-08-26 07:54] #5 closed

[2019-08-26 08:00] KarimChabrak opened #118 "Regular CCC distribution"
I would like to allocate CCC to all accounts in the CCC space.

I can either set
1- the amount to be allocated to each account
or
2- the target amount of coins per account

In case 2, the amounts on allocated coins for each account shall be calculated based on actual account balance and target amount of coins

[2019-08-30 13:21] KarimChabrak opened #119 "Reset task creates errors in accounting"
When resetting tasks, we get negative account balances....

When re-setting a task, nothing should be done with transaction.   As the transaction after closing the task is final.

Only delete open task should move back coins from task account to original account where the coins come from.

![image](https://user-images.githubusercontent.com/41925899/64023805-66d01c80-cb39-11e9-9bab-f4c81197f85e.png

[2019-09-14 14:59] gdalyy commented on #119
I've removed the reset button.

[2019-09-19 16:16] haythem96 opened #120 "Create a funding aragon app"

[2019-09-19 16:17] haythem96 commented on #120
WIll be closed. deprecated #100

[2019-09-19 16:17] #120 closed

[2019-09-23 09:06] haythem96 commented on #100
thought about adding a Token Manager app that manage the coins transfer (requested coins, exchanged coin) but later thought that this will add a layer of complexity that we don't want for now...

[2019-09-23 09:32] haythem96 opened #121 "Implement a mechanism to upgrade each space DAO"

[2019-09-23 09:44] haythem96 commented on #100
The exchanged coin is always the coin related to the space that is doing a crowdfunding campaign, right ? @craxrev @gdalyy

[2019-09-23 10:32] haythem96 commented on #100
Will use forwarder so that the Funding contract can call the Token contract to mint token(exchanged token).

[2019-09-23 10:36] haythem96 commented on #100
In humhub, when a new campaign is created, does it create a new account that will receive the tokens ? or it use the default one ? @craxrev @gdalyy

[2019-10-02 09:48] haythem96 opened #122 "Fix coins balances"

[2019-10-02 09:49] haythem96 opened #123 "Get wallet coins by default"

[2019-10-02 13:35] #122 closed

[2019-10-03 12:39] #123 closed

[2019-10-13 15:53] haythem96 opened #124 "Transactions in Humhub DB need to be in sync with the Ethereum blockchain"
![humhub-ethereum-sync](https://user-images.githubusercontent.com/17862704/66717243-ae70e600-ee11-11e9-88a9-581a2d76745b.png)

## How it work

When a new space get created on the platform->new coin issued, `Humhub` make a HTTP call to the `HTTP API` to set a `listener` on the coin `Transfer` event _(1)_.
A `listener` get created and will always listen for any `Transfer` event that get triggered in

[2019-10-14 17:19] KarimChabrak opened #125 "Remove user from space"
When trying to remore user from space, I get the follwing error.

![image](https://user-images.githubusercontent.com/41925899/66770222-55f42400-eeb7-11e9-8d44-728db245ff10.png)

[2019-10-14 17:23] KarimChabrak opened #126 "Mobile app decimal transactions"
When I transfer 0,1 coins, i see in the mobile app an amount of 0 transactions as the app does not show amounts behing the comma. I propose to visualize up to 0,01 transactions.

The same is valid for my account balance, I want to see that i have 12,15 coins and not only 12 coins ;-)

[2019-10-14 17:24] gdalyy commented on #125
I'll fix that asap, it seems to be an error coming from ethereum , @haythem96 what does this mean :

[code]

[2019-10-14 17:26] gdalyy commented on #126
I've discussed this with @haythem96 and he said that coins amount must be `integer` not `float`, in other words , we can't have 0.5 coin or 0.1 coin or whatever , only integers are possible.

[2019-10-14 17:31] KarimChabrak opened #127 "Mobile version of coinsence"
As mobile device user of coinsence, I would prefer to have the following version.

It makes it easier for me to find all functions.
The welcome landing page shall be accessible when clicking on coinsence logo.

Please check if this proposal is better for the user.

![CoinsenceApp](https://user-images.githubusercontent.com/41925899/66770847-e2531680-eeb8-11e9-9885-839668bf971f.jpg)

[2019-10-14 17:36] KarimChabrak commented on #126
Uups, mean if you sell single bonbons (or taba3 chikley), they will be very expensive.

[2019-10-14 17:39] gdalyy commented on #126
@haythem96 , karim is right , we didn't thought about this.

[2019-10-14 17:54] KarimChabrak commented on #126
@gdalyy   if this is the case, we can store in the blockchain the transactions of the unit mCOIN. Which means milli Coin and represents 0,001 Coin.
In the interfaces, we can either visualize  12150 mCCC,    or 12,15 CCC.  As we want.

As this issue seems needing more work than expected, let's postpone it.   We could eventuall  disable non integer transactions in the coinsence platform as long this

[2019-10-14 23:21] haythem96 commented on #126
I didn’t say we can’t have 0.5, you miss understood me

On Tue, Oct 15, 2019 at 2:54 AM Coinsence.org <notifications@github.com>
wrote:

[2019-10-15 01:20] gdalyy commented on #126
I thought you said its mandatory to have integers not floats when dealing with coins !

[2019-10-15 02:53] haythem96 commented on #126
I was talking about the Coin decimal at that time, when the CCC coin got issued, the decimal passed was 0 for some reason (I know u told me u have it as 18 but somewhere in humhub where an issue where it got passed to the APi as 0).

So in Ethereum, if you are using a token with 18 decimal, if you send 1.5 token u are basically sending 1.5*10**18 which is basically a decimal number.

So in our cas

[2019-10-15 03:50] haythem96 commented on #125
do we have a function to remove other space user ?!!!!!!

[2019-10-15 03:52] haythem96 commented on #125
There is only `leaveSpace()` in the contracts which get called through the `POST /leave` in the API, the user need to call that function to leave a space, it is LEAVE not REMOVE by the admin.

Also if you will change that or you will add leave function in humhub please do not call that endpoint for now...

And I think that's not an error it is just a tx hash.

[2019-10-15 04:13] KarimChabrak commented on #100
Yes.

[2019-10-15 04:14] KarimChabrak commented on #100
It create a new account

[2019-10-15 04:24] KarimChabrak opened #128 "Coin transaction did not work"
Was trying to transfer 0.200000048 project coins from my personal account to an other account (default space account). Somehow it did not work.

![image](https://user-images.githubusercontent.com/41925899/66800092-393a0980-ef14-11e9-931d-34dc43d7f121.png)

[2019-10-15 04:53] KarimChabrak commented on #40
If we would like to align space smart contract with coinsence platform, we have to consider:

1. the general join policy (only by invite, invite and request, everyone can enter).

![image](https://user-images.githubusercontent.com/41925899/66800689-7dc6a480-ef16-11e9-8416-1dfb9a35f993.png)

For blockchain, it might be relevant if joining a space needs to be approved or not by space members having

[2019-10-15 06:16] KarimChabrak opened #129 "Wrong notification when adding members to space"
I just accepted a space join request and got this message, even though this action was successfull and user is now space member.

![image](https://user-images.githubusercontent.com/41925899/66804645-49a5b080-ef23-11e9-875c-0cc45a4d5d77.png)

[2019-10-15 06:27] KarimChabrak opened #130 "Space admin setting in roles "review public offer""
A space admin can set in the roles the right to the user to "review public offer".

This right is allocated to general user group (Moderator) where only system admin can add user.

By testing this, I could not find out what is the fuctionality of "review public offer" right in spaces.

![image](https://user-images.githubusercontent.com/41925899/66805299-ecaafa00-ef24-11e9-8853-5616df892bb5.png)

[2019-10-15 18:29] KarimChabrak commented on #105
We propose that any user can join the platform without verification.

But spaces, like Coinsence Community Coin can set that only verified user can join. In case a user did not yet make the verification, when trying to join the space, he will be asked to go through the verification process.

Mainly, the process will be ask user for his phone number, the user will get the an sms with a code which h

[2019-10-16 06:10] haythem96 commented on #124
HTTP API endpoint PR: https://github.com/Coinsence/coinsence-monorepo/pull/54

[2019-10-16 12:13] gdalyy commented on #126
Got it , thanks

[2019-10-16 12:15] gdalyy commented on #125
Didn't get it ? I'm i calling the wrong endpoint or what ? the `leave()` call is already implemented on humhub side and was working , I don't know what's going wrong this time, i'll try to have a look asap

[2019-10-16 12:20] gdalyy commented on #100
regarding to you first question :

When createing a crowdfunding campaign within a space you're offering the space coin and requesting other coin.

For the second question :

As karim said , Yes

[2019-10-16 12:22] gdalyy commented on #128
I think it's due to floating decimals.
What did you decide ? should we keep working with integers or allow floats ?

[2019-10-16 12:24] gdalyy commented on #129
I'll check it , but it seems to be that the user joined successfully the space humhub side, but there was an error on ethereum side

[2019-10-16 13:48] haythem96 commented on #125
1. There is a `leave()` endpoint: that function should be called by the user who want to leave a space.
2. There is no function in the smart contract nor an endpoint in the API to remove someone from the space (e.g space admin remove user1)
3. Even if you are trying to implement a `leave` functionality (a user leave the space by his own will), please do not call the `leave` endpoint because the fu

[2019-10-17 06:32] KarimChabrak commented on #125
Dear @haythem96  and @gdalyy

One question: Does it make sense at the moment to map space members to the blockchain?

At the moment space members have no collective decision power on the blockchain (and also not yet in our platform). So, from blockchain perspective, beeing as space member does not mean anything at the moment.  Of could this will change when we implement DAO functionalities enablin

[2019-10-17 10:29] haythem96 commented on #125
yes it totally make sense to map members addresses in the space contract, we definitely need that.

[2019-10-17 18:07] KarimChabrak opened #131 "Adding code of conduct to this repository"
Who can help me to add this code of conduct to the appropriate folder?

# Contributor Covenant Code of Conduct

## Our Pledge

In the interest of fostering an open and welcoming environment, we as contributors and maintainers pledge to make participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, sex characterist

[2019-10-18 06:47] KarimChabrak opened #132 "Make mobile version more intuitive"
New user need quite some time to find all buttons in the upper left menu.

The buttons in the upper left menu are very often used a need tobe more easily accessible..

I propose the following version

![image](https://user-images.githubusercontent.com/41925899/67071852-e070a800-f183-11e9-8ccf-5bd3b8ed60c5.png)

[2019-10-18 07:05] KarimChabrak opened #133 "QR code access"
When I install the mobile version, I need to  the QR code or add the key via copy and past.

When receiving a transaction, I need to show a QR code.

Default user and space QR and keys need to be more easily to access.

We propose the following bottons for webversion to access account QR and Key.

![image](https://user-images.githubusercontent.com/41925899/67072191-9cca6e00-f184-11e9-86bf-2ec3e212

[2019-10-18 07:08] KarimChabrak opened #134 "Language setting"
As a user with the wrong language settings, I need a more easy access to my settings.

I propose, either ask me in the beginn when I join the first time which language i prefer, or make it easy later for me to access language settings.

[2019-10-21 18:09] KarimChabrak opened #135 "Voting instead of crowdfunding?"
A while ago, Adnen from El Space proposed that we call the crowdfunding mechanist voting instead of crowdfunding to avoid any missunderstanding.

I want to share this proposal for discussion.

Without changing the mechanism, we could call the crowdfunding voting, and the coins are allocated by vote automatically to projects.

User sets the % of his votes he wants to allocate and we show him the nu

[2019-10-31 12:41] haythem96 opened #136 "Coin decimals set to 0"
When Coin get deployed, the `decimals` arg is set to `0`
It should be set to `18`

[2019-11-04 12:14] #116 closed

[2019-11-04 12:14] #119 closed

[2019-11-04 16:00] craxrev commented on #131
Closing this issue, file created [CODE_OF_CONDUCT.md](https://github.com/Coinsence/meta/blob/master/CODE_OF_CONDUCT.md)

[2019-11-04 16:00] #131 closed

[2019-11-11 10:24] KarimChabrak commented on #132
@craxrev   please check this issue

[2019-11-11 10:30] haythem96 opened #137 "Add script to automate the coins listeners set up"

[2019-11-11 10:37] haythem96 opened #138 "Configure sentry exception tracking for PHP app(s)"
in order to get notified about code exceptions we should setup an exception tracking tool.

suggested is https://sentry.io/welcome/

[2019-11-11 10:54] KarimChabrak opened #139 "Filtering projects and marketplace offers based on used coins"
As user, i am only interested in projects and offers related to a specific coin

@craxrev

[2019-11-11 11:01] haythem96 opened #140 "Write a unit tests for the mobile app"

[2019-11-11 11:03] haythem96 opened #141 "Write unit tests for all humhub modules"
One of the UNICEF requirements is to have >= 80% code coverage in all the repositories.

[2019-11-11 21:25] KarimChabrak commented on #113
Maybe we should first only implement following.

User can only transfer coins from funding account when they select "accept investment".

As long they did not "accept investment", they can "Cancel campaign".

So two alternatives:
- Accept investment: Enables transfer for funding account to other accounts.
- Cancel campaign: Disables the campain and reverst all transactions.

3 days after deadline,

[2019-11-13 18:14] KarimChabrak opened #142 "Clicking on space name on mobile and web version"
On the mobile and web version, I need currently in the space list to click on space picture to get to space. I intuitively clicked on the text block expecting redirection to space.

![image](https://user-images.githubusercontent.com/41925899/68836818-85b36900-06bb-11ea-946b-38953d8c79d7.png)

[2019-11-14 07:40] KarimChabrak opened #143 "Reduce number of coins to be selected in drop-down list"
As user when starting a crowdfunding campain or adding products, I have a long list of coins.  I propose to show only relevant coins.

Proposal is that the showed coins are limited. E.g. space has in the setting to select a botton "Add coin to community currency list". In this way, not all coins are shown in the list, but only coins with the right settings

![image](https://user-images.githubuserc

[2019-11-14 07:46] KarimChabrak opened #144 "Account owner display and link"
In the account list, we should show user as owner of the own account.

When clicking on account owner in the list or in the account details, I expect as user to be redirected to the space.

![image](https://user-images.githubusercontent.com/41925899/68836714-4127cd80-06bb-11ea-8749-5a14f21061a7.png)

![image](https://user-images.githubusercontent.com/41925899/68836644-1e95b480-06bb-11ea-89fe-d6040

[2019-11-14 08:05] KarimChabrak opened #145 "Change coin type and target amount in crowd funding campain"
When creating a crowd funding campain, I can not change selected coin type and target amount when i edit the campain.

Maybe it is enougth, when user is able to delete the campain and start a new one.

[2019-11-14 08:10] KarimChabrak opened #146 "Project details are not shown for crowd-funding campains"
Project details are not shown for other users

![image](https://user-images.githubusercontent.com/41925899/68838237-6ec24600-06be-11ea-8116-4ec62ccf9dc4.png)

![image](https://user-images.githubusercontent.com/41925899/68838287-8c8fab00-06be-11ea-8337-17dd7b375b1e.png)

[2019-11-17 18:45] KarimChabrak commented on #145
sdsdsdfcds  ** dfd**  dfdf
dfdf d
dfdf  ### sdsd

[2019-11-17 18:45] KarimChabrak commented on #145
sdsd **sdsd** sdsd sdsd

[2019-11-17 18:45] KarimChabrak commented on #145
sds ### dfsdf ###

[2019-11-17 22:47] gdalyy commented on #145
will have a look asap

[2019-11-18 16:21] KarimChabrak opened #147 "Task account owner"
Change task account owner to space

[2019-11-18 18:08] KarimChabrak opened #148 "Enable setting exchange rate"
When starting a crowdfunding campain i am forced to set an exchange rate of 1 to 1. E,g,
One coinsence project coin (CPC) corresponds to 1 Eth_fund coin (means 1 CPC has a value to 0,5 TND)
As we are also collecting CCC which has the value of one TND. We do not have the freedom to shoose the value of CPC.

I propose to re-enable user to set exchange rate. To keep user experience easy, this option

[2019-11-19 21:47] KarimChabrak commented on #113
Following use case fails:
User A invests in space ABC and gets ABC coins. Then he sends X ABC coins to user B.

When space ABC cancels the campaign,

User A has now -X ABC coins  (which is not feasible in Blockchain).

And when looking into ABC Accounts overview, i get following messsage (see below)

![image](https://user-images.githubusercontent.com/41925899/69189275-6040b800-0b1e-11ea-822c-20847

[2019-11-19 22:03] KarimChabrak commented on #113
I propose to make the buttons "cancel campaign"  and "accept investment" more accessible to user and not hide them under the "Edit" button.

See here

![image](https://user-images.githubusercontent.com/41925899/69190428-b151ab80-0b20-11ea-9ce5-a29e28a3a65b.png)

[2019-11-19 22:07] KarimChabrak commented on #113
When campain is cancelled, the funding account and the issued coins disappear.

In blockchain this is a bit complex (burning mintet ERC20 token).

I propose the not remove the funding account. Just leave this account with the issued coin in the space. Space admin can transfer them somewhere else and use them for other purpose.

[2019-11-19 22:20] KarimChabrak commented on #113
When accepting investment,

1. The campaign is removed from public crowdfunding place.
2. The campaign is still visible in the space, people can still invest and all button in the top disappear.

I propose that campain is still visible also in the public funding place after accepting invest. User need to close the campain manually.

After "Accepting investment"   User has only one button called "C

[2019-11-20 01:55] KarimChabrak opened #149 "Button to create spaces"
Using mobile device, there is no botton to create a space. We have to add this on the top of spaces overview as shown here:

![image](https://user-images.githubusercontent.com/41925899/69202037-9bec7980-0b40-11ea-8fa9-20d681d70a16.png)

In the web version, I propose the
- Move in my spaces this button to the top as shown here.
- Add also this botton in the spaces overview.

![image](https://user-i

[2019-11-20 02:44] KarimChabrak opened #150 "Improve user experience of mobile payment app"
I propose the following to make usege of mobile device easier.

![image](https://user-images.githubusercontent.com/41925899/69204579-92b2db00-0b47-11ea-89bc-d38f932e1fd4.png)

[2019-11-20 02:50] KarimChabrak opened #151 "Account owner in personal account overview"
I account overview, i propose to

- Make user profile picture visible as owner of default account and remove the text stating "If no owner is specified, it is a personal account."
- Enable user to click on the other spaces icon as owner and get directed to the space.

![image](https://user-images.githubusercontent.com/41925899/69204851-6d729c80-0b48-11ea-9010-371399cfdb3a.png)

[2019-11-20 02:54] #145 closed

[2019-11-20 02:58] #151 closed

[2019-11-20 05:15] KarimChabrak opened #152 "Change user onboarding"
I propose to remove the welcome page and let selected calls to action pop up as shown below.

![image](https://user-images.githubusercontent.com/41925899/69211033-fbf11900-0b5c-11ea-906d-5e6bb95b8060.png)

[2019-11-20 16:54] KarimChabrak commented on #113
@gdalyy

REGARDING BLOCKING INVESTOTR TRANSACTION.

Here we have to take care not to completely block the investor account.

The problem, as we are using Blockchain, we can not prevent the transaction except we implement the whole process as smart contract.

This issue is not urgent, as currently user are investing from ccc space and they can not make direct transactions. Maybe we can open here a

[2019-11-21 05:53] KarimChabrak commented on #144
This is also valid for space accounts

![image](https://user-images.githubusercontent.com/41925899/69307413-d6cadc00-0c2a-11ea-89fc-85b2eb4f1b1f.png)

For personal accounts, also owner and manager need to be shown

![image](https://user-images.githubusercontent.com/41925899/69307648-8acc6700-0c2b-11ea-9bb0-a8bc0bf2729b.png)

[2019-11-21 06:01] KarimChabrak opened #153 "Hide private key for account where direct transfer is disabled"
In CCC space, direct transfer is disabled, but if i get the private key for this account, i will be able to make transactions.

This key should be hidden in this case "Enabling direct transfer" is not selected.

![image](https://user-images.githubusercontent.com/41925899/69310539-7046bd80-0c2c-11ea-8189-d1bd905f3560.png)

![image](https://user-images.githubusercontent.com/41925899/69310083-4db4a48

[2019-11-28 17:26] #146 closed

[2019-12-02 10:55] #136 closed

[2019-12-02 10:56] haythem96 commented on #126
Fixed this on the mobile app... will work when we deploy (re-migrate) coins.

[2019-12-02 10:56] #126 closed

[2019-12-02 13:30] #90 closed

[2019-12-02 13:32] #37 closed

[2019-12-03 13:02] KarimChabrak opened #154 "Template for crowdfunding"
Request from user to add these information for crowdfunding campaigns.   When user startes a campaign, he provide him the template below (just text in detailled project description) to help him add info about his project.

PROJECT INFORMATION
- Why is this impartant. The problem
- How you can solve this problem. The solution
- What are you planned steps. The milestones you want to achieve and the

[2019-12-05 09:08] KarimChabrak opened #155 "Make space membership request visible on mobile version"
Memebership request for spaces are not visible via mobile

[2019-12-05 15:24] KarimChabrak opened #156 "Cascade delete product when space is deleted"

[2019-12-14 15:06] KarimChabrak commented on #20
@gdalyy

I propose in case an account still have assets, that when space admin deactivates the account that all assets are transferred to default space account.

[2019-12-17 10:53] KarimChabrak opened #157 "Show only use with pictures"
To give a better impression, user should only see people who did upload a profile picture when clicking on people.

User needs to click in people overview on "under review" to see the rest.

[2019-12-27 00:25] #124 closed

[2020-01-04 19:01] KarimChabrak commented on #139
@craxrev
As agreed,
we add categories for crowdfunding and marketplace (separate category database)
Hide non reviewed offers from normal user (only moderators can see)

Design as discussed

[2020-01-04 19:03] #2 closed

[2020-01-04 19:06] KarimChabrak opened #158 "Create page for public tasks"
Like crowdfunding and marketplaces, spaces shall be able to publish open tasks.

The assets in the task account are showed.

[2020-01-16 12:28] KarimChabrak commented on #144
@craxrev   I think this issue is easy to close, just add the link to the account owner  in the personal account overview (redirection to spaces account overview).

[2020-02-10 15:13] KarimChabrak opened #159 "Refund when cancelling campaign after own asset was further transferred"
When Space A starts crowd funding, distributes X amount of A-coin to investors and **investor further transfers some A-coins to an other account**.   When the campaign is cancelled, the X A-coins are not sent back. The funding campaign account has -X A-coins.

This issue is related to the comments here:

https://github.com/Coinsence/meta/issues/113

[2020-02-10 15:14] KarimChabrak commented on #113
Dear @gdalyy

I will close this issue.  The 2 new issue which are not urgent will be created as separate issues:
https://github.com/Coinsence/meta/issues/159
https://github.com/Coinsence/meta/issues/160

[2020-02-10 15:17] KarimChabrak opened #160 "Change "cancel campaign" and "accept investment" text and add option for re-start of campaign."
I propose to make the buttons "cancel campaign"  and "accept investment" more accessible to user and not hide them under the "Edit" button.

See here

![image](https://user-images.githubusercontent.com/41925899/69190428-b151ab80-0b20-11ea-9ce5-a29e28a3a65b.png)

_Originally posted by @KarimChabrak in https://github.com/Coinsence/meta/issues/113#issuecomment-555736963_

[2020-02-10 15:27] KarimChabrak commented on #15
Dear @gdalyy ,

this is the issue we talked about today.

[2020-02-14 15:45] KarimChabrak commented on #139
I propose these categories for marketplace:
Restaurant and cafe
Accomodation
Coworkingspaces
IT development
Business and legal
Translation
Transport
Beauty and life stile
Leasure
Transportation
Arts and culture
Marketing and advertisement
Other
as marketplace admin, i should be able to change the category of user made offers.

[2020-02-14 15:45] KarimChabrak commented on #139
For crowdfunding, let's use the following:
Digital innovation
Environment
Empowerment
Education
Culture
Social inclusion

[2020-02-15 00:07] #102 closed

[2020-03-14 16:33] KarimChabrak commented on #20
@gdalyy

proably here we will have then a list of deactivated accounts (for spaces and for personal profiles).
User shall be able to re-activate his own owner accounts and space admin shall be able to re-activate space owned accounts.

[2020-03-14 16:34] KarimChabrak commented on #20
@gdalyy
We have to take care that, in case we have automatic account creation when user joins a space, that user who has a de-activated account there does not get a new account.

[2020-04-05 12:27] KarimChabrak commented on #160
Some User did click on Accept investmer by mistake when editing their campaign.
![grafik](https://user-images.githubusercontent.com/41925899/78492527-31338780-7749-11ea-974f-544961b17dbc.png)

We need to change also text to:
- "Close funding campaign and accept received COINs."
- "Cancel funding campaign and send back COINs."

We need also to add this text to the message list, to be able to transl

[2020-04-05 18:12] gdalyy commented on #160
:+1:

[2020-04-27 15:00] KarimChabrak opened #161 "Photo in project or product description appears as title picture"
Where submitting a project or product. If i add a picture in the description text, it appers automatically as title picture instead of the extra uploaded picture.

[2020-05-18 09:57] #155 closed

[2020-05-18 09:58] #148 closed

[2020-05-18 09:59] #141 closed

[2020-05-18 10:01] #139 closed

[2020-05-18 10:01] #140 closed

[2020-05-18 10:03] #143 closed

[2020-05-18 10:05] #118 closed

[2020-05-18 10:22] KarimChabrak opened #162 "Automatically create accounts and allocate diverse Coins when user join other selected spaces"
For the crypto challenge space, I would like to ensure that users who join partner spaces, automatically

- get automatically an account in crypto challenge space with a spacific name .
- receive 100 space coins.

I should be able to set this function separately for multiple spaces
- Space A, "Name Account X", Amount "N";
- Space B, "Name Account Y", Amount "M";
.
.
.

[2020-05-27 18:14] KarimChabrak commented on #162
Currently, the follwing can be set when goin as space admin to
https://community.coinsence.org/s/_[spaceName]_/xcoin/config/index

![grafik](https://user-images.githubusercontent.com/41925899/83053800-9624a300-a051-11ea-8350-c7e3e6d6bf68.png)

So,
- when user join the space,
- an account with the _account title_ is created in the space. (The user is the manager of this account.)
- In total space c

[2020-05-27 19:33] KarimChabrak commented on #162
To add multiple rules, which different events (joining different spaces)

It will then look something like this

![grafik](https://user-images.githubusercontent.com/41925899/83064192-b8262180-a061-11ea-9701-f8e81df41eb6.png)

[2020-06-03 16:23] KarimChabrak commented on #162
ALTERNATIVE MANUAL SOLUTION

this could be the alternative to create multiple accounts and transactions.

- Add for space admin the option to create multiple accounts. (e.g. by adding manually multiple users   or   by selecting all members within a selected space). It shall be possible to edit the selection (select all, then remove manually some)

![grafik](https://user-images.githubusercontent.co

[2020-06-10 21:50] KarimChabrak opened #163 "Gallery display for funding campaigns"
Images uploaded in the project description are outomatically listed to be displayed as a picture in the project top picture box.

As user (who knows the trick ;-) , i can remove them manually, by deleting them after clicking next (at the phase where i get asked to upload pictures).

This should be done automatically, as pictures in the project description are not supposed to be visible in the main

[2020-06-12 15:06] #161 closed, assigned to nobody

[2020-06-12 15:22] KarimChabrak commented on #160
Based on latest experience when user click on "accept investment" by mistake.

we need to break the old feature Accept investment in two steps ("Accept investment" and "Unpublish this campaign")
Here we keep campaign public when user clicks on accept investment. Add another button "Unpublish this campaign"

[2020-06-12 15:43] KarimChabrak opened #164 "Editing and approving funding campaign does not work"
Approving and disapproving campaign does not work.

Editing campaign does not work, except when amount of requested coins is changed.

[2020-06-12 15:48] KarimChabrak commented on #160
@gdalyy As many click by mistake "accept investment", we need the opposite button, when user click on "Close funding campaign and accept received COINs."

"Re-start this campaign"

Which makes campaign visible again abnd blocks accounts.

[2020-06-13 09:27] KarimChabrak commented on #164
@gdalyy when you work on this, please also check if gallery pictures are also editable when after editing details, user clicks next

[2020-06-13 14:33] gdalyy commented on #164
Okay will check this

[2020-06-13 15:57] gdalyy commented on #160
I'm not understanding this well, can you explain further , what exactly should I do ?

[2020-06-15 16:17] KarimChabrak opened #165 "Message content display, when having multiple recipients"
This is how messages are shown, when having multiple recipients. It's not readable neither on mobile nor on desktop

![grafik](https://user-images.githubusercontent.com/41925899/84681367-4dffee80-af34-11ea-9eab-092224748428.png)

[2020-06-15 16:17] KarimChabrak commented on #165
@craxrev I would be great if you could look at this.

[2020-06-15 16:17] #164 closed, assigned to gdalyy

[2020-06-15 16:18] #163 closed, assigned to gdalyy

[2020-06-15 16:18] #160 closed, assigned to gdalyy

[2020-06-17 16:46] KarimChabrak opened #166 "Space welcome messages."
I am currently sending every member who joins my space manually a message, which takes a lot of time.
I would like to be able as space admin to create a message which is sent automatically to every member who joins my space.

[2020-06-18 11:08] KarimChabrak opened #167 "Customized space Invite message"
When I invite internal members or via email, I would like to be able to send dedicated messages to invited persons.

[2020-06-18 11:13] KarimChabrak opened #168 "Customized messages for declining"
When I decline a join request, I am sending user manually a message to explain why.

Also nice to have, I would like to be also able to send space specific messages to members when i decline membership requests.

[2020-06-19 13:05] KarimChabrak opened #169 "Limit transaction amount for space owned accounts"
For the eth funding, we asked crowd voters who got 100 COINs to invest maximun 35 COINs per project.

Many members did allocate more. As space admin, I would like to fix a limit for transaction per project.

One easy way, could be to just set a limit for each transfer. This will not prevent member to initiate two transfers for the same project, but at least the hurdle is bigger.

In a later stage,

[2020-06-23 12:13] KarimChabrak opened #170 "Control funding transactions from own space"
As Space owner, I would like to control to which challenges accounts can make transactions.

[2020-06-23 12:15] KarimChabrak opened #171 "Funding only possible to approved projects"
As challenge owner, I would like to allow funding only for apporved projects.

[2020-06-23 12:17] KarimChabrak opened #172 "Deactivating accounts"
As space owner, I would like to be able to deactivate accounts within my space. As user I would like also to deactivate accounts which are not used to avoid having too many accounts which are not needed.

A button to deactivate account is needed, which can be used by account owner (user or space admin) and by account manager. This button is not valid for Task and crowdfunding accounts.

Deactivate

[2020-06-24 09:56] KarimChabrak opened #173 "Force user to update his profile"
Many users do not update their profile picture and data.

I propose, that user without profile update can enter and browse through the platform.

But, I propose that before beeing able to become active (create a space, add product, initiate a transaction, join a space, comment and react on content.... )  user shall be asked to update his profile with a pop up where he can upload his profile pictur

[2020-09-01 13:05] KarimChabrak opened #174 "Edit submission rights"
Currently, only space owner can edit project submissions.

 This should be changed to space admin, to ensure that admins in case they can submitt projects, that they can also edit projects or products and do not need to request space owner to act.

[2020-09-11 10:31] #113 closed

[2020-09-11 10:49] #4 closed

[2020-09-11 10:50] #6 closed

[2020-09-11 10:53] KarimChabrak opened #175 "Integrate marketplaces in spaces and create categories"
In a very similar way, we will integrate different marketplace in spaces.
-	Space admins can create different marketplaces (like creating challenges)….   for this, admin has to add following information
-	Type of coin
-	Name of marketplace
-	Picture of marketplace
-	(we do not need a description like in creating challenges)
-	Space moderators can verify and approve products
-	Platform moderators c

[2020-09-17 11:30] KarimChabrak opened #176 "Redesign message overview"
In message overview list,

it shows always my name and picture, which is obvious. Should be replased by view of recipients pictures

The content pre-view in the link, make scrolling no easy and all be removed

FRom this

![grafik](https://user-images.githubusercontent.com/41925899/93464056-df428080-f8e8-11ea-9c82-626bfa169ade.png)

WE need this
![grafik](https://user-images.githubusercontent.com/4

[2020-09-17 11:37] KarimChabrak opened #177 "Message mobile view"
the message mobile view is bad, as user needs to scroll through the message list to selected message and then go to the bottom be be able to answer.

We propose following

WE a message is selected in the messsage list, window changes to message view.
In message view, use can see the message stream and can click back to message list.
In message view, answering box is fixed in the bottom and does no

[2020-09-17 11:42] KarimChabrak opened #178 "Message mobile user experience"
the message mobile view is bad, as user needs to scroll through the message list to selected message and then go to the bottom be be able to answer.

We propose following

- Remove message view in the bottom
- When a message is selected in the messsage list, window changes to message view.
- In message view, user can see the message conversation.
- In message view, answering box is fixed in the bo

[2020-09-17 11:42] #177 closed, assigned to nobody

[2020-09-17 22:25] KarimChabrak commented on #178
This is the proposed message overview and message view screens.

Message overview
WE SHOULD LIMIT THE CONTENT PREVIEW OF EACH MESSAGE TO 2 LINES (mobile and web version) to ensure that user sees the max number of conversations per page

![grafik](https://user-images.githubusercontent.com/41925899/93534348-35dda800-f945-11ea-9835-c8d2eb61122a.png)

And this is the view of the message, when user cli

[2020-09-17 22:27] KarimChabrak commented on #176
This issue is closed, as the overview shows the sender of the last message.

[2020-09-17 22:27] #176 closed, assigned to nobody

[2020-09-29 09:38] craxrev opened #179 "Setup continuous integration/deployment for main repositories"
Setup automatic git pulls whenever new code is merged to master, only for [Coinsence/humhub](https://github.com/Coinsence/humhub) & [Coinsence/humhub-modules-xcoin](https://github.com/Coinsence/humhub-modules-xcoin) repos, using github hooks, or maybe a continuous integration program?

This has to be done for seamless deployment, don't know of an easy way to set it up, will figure it out once I ha

[2020-10-06 10:21] #150 closed

[2020-10-06 10:27] #149 closed

[2020-10-06 10:27] #142 closed

[2020-10-06 10:30] #128 closed

[2020-10-06 10:31] #112 closed

[2020-11-11 10:52] KarimChabrak opened #180 "Task error message"
When i create a task, set responsible user but do not set assigned user, I get a error message and cant open the task

e,g. https://dev.coinsence.org/tasktestingspace/tasks/task/view?id=47    I get error message

- Potentially, only responsible user has this problem.
- To re-build this error:
- - Create task, set your self as responsible, do not set assigned user ----> you get error when you try t

[2020-11-11 10:54] KarimChabrak commented on #180
@gdalyy   potentially, only responsible user has this problem.

[2020-11-11 10:56] KarimChabrak commented on #180
To re-build this error.

Create task, set your self as responsible, do not set assigned user ---->  you get error when you try to see the task

Edit task, add assigned person.   ---->   Error disappears

[2020-11-11 11:26] KarimChabrak opened #181 "Task account creation optional"
We should make task account creation optional.

[2020-11-11 11:30] KarimChabrak commented on #181
We could add in this selection a button "Create task account". This button then
- Creates an account for the task

![grafik](https://user-images.githubusercontent.com/41925899/98806526-9d7e1400-2419-11eb-86da-c9277b3126ff.png)

[2020-11-11 11:46] KarimChabrak opened #182 "Beginning task"
User can beginn tasks which they are not allocated to. This is ok.
We need to add the user who clicks on "Beginn Task" automatically to "assigned user".

[2020-11-11 11:51] KarimChabrak opened #183 "Editing task Rights"
Despites settings below, members can edit task and make changes.

Only Task creator, responsible user and space admin shall be able to edit task.

![grafik](https://user-images.githubusercontent.com/41925899/98808466-6f4e0380-241c-11eb-9279-04c77d513ead.png)

[2020-11-11 11:54] KarimChabrak commented on #107
We can consider adding a button on the task, "Allocate coins to task". Anybody could click on it, and select account, coin type and amount.

[2020-11-11 11:56] KarimChabrak opened #184 "Cancel task and initiate inverse transactions"
Currently, when a task is deleted, task account transactions are deleted. THIS CREATES PROBLEMS  WITH BLOCKCHAIN.

To keep track, task can be "cancelled", but not deleted. WHEN TASK IS CANCELLED,
- WE MAKE THE OPPOSITE TRANSACTIONS.
- Task is not visible in the task list,
- Task account in not anymore listed in the account list,

[2020-11-11 12:01] KarimChabrak opened #185 "User profile visibility"
Currently,

User profiles cards are visible for non registred users. https://dev.coinsence.org/xcoin/network
and user profile overview are not visible for no registred users, e.g. https://dev.coinsence.org/karim.chabrak/

We should make hiding profile overview and hiding user card optional for each user. (default, visible for public)

[2020-11-11 12:12] KarimChabrak opened #186 "LInk to marketplace"
Current link to marketplace includes "..../XCOIN/....-OVERVIEW (e.g.
https://dev.coinsence.org/xcoin/marketplace-overview).  Which is not nice for sharing.

Can we change link to  https://dev.coinsence.org/marketplace  ?

[2020-11-12 10:36] KarimChabrak commented on #185
![grafik](https://user-images.githubusercontent.com/41925899/98929216-201ad800-24db-11eb-862a-160cb7bdcf9e.png)

@gdalyy  We have it already the option.

[2020-11-12 19:39] #147 closed

[2020-11-12 20:26] KarimChabrak opened #187 "Improve task funding and payment process"
Currently considering issue #107  and #108 I propose:

- An additional button on task view "Allocate coins to task", Everybody can click on it, then select account, coins and amount which can be set to task account.

[2020-11-13 11:49] KarimChabrak opened #188 "Make categories for marketplace and crowdfunding flexible"
Marketplace and challnge creators need to stick to categories enforced by platfrom admin.

When creating challnge or marketplace, user should be able to select categories and add further categories.

The filter in the overview, will be based on he category list of available offers.

[2020-11-16 13:50] #175 closed, assigned to nobody

[2020-11-17 13:58] gdalyy commented on #180
Fixed in https://github.com/Coinsence/humhub-modules-tasks/pull/12

[2020-11-17 15:59] #181 closed, assigned to gdalyy

[2020-11-17 15:59] KarimChabrak opened #189 "Task issues when not creating account"
When I do not select to create an account,
- you get errors when closing task.
- Assigned person is still asked to choose payment account

[2020-11-17 16:00] #180 closed, assigned to gdalyy

[2020-11-17 16:04] KarimChabrak commented on #189
@gdalyy one further issue

- If a do not select the create account in the beginn, I can not do it later, as the button does not appear when editing a task

[2020-11-17 16:07] KarimChabrak commented on #187
@gdalyy   please check this,
we could make an external button (aside of Beginn task). which is first
- "Create account". Anybody can click on it. If clicked once, it changes to "allocated coins to task"

[2020-11-17 16:13] KarimChabrak commented on #182
This might solve also following error when i go through the process without assigning anybody..

{
    "url": "/testoptionaltask/tasks/task/proceed?id=81&status=5",
    "status": 500,
    "response": "<pre>Exception &#039;Error&#039; with message &#039;Call to a member function getAssets() on null&#039; \n\nin /var/www/coinsence_dev/protected/modules/tasks/models/Task.php:1178\n\nStack trace:\n#0

[2020-11-18 14:30] gdalyy commented on #189
resolved in https://github.com/Coinsence/humhub-modules-tasks/pull/13

[2020-11-18 14:42] #189 closed, assigned to gdalyy

[2020-11-18 14:43] KarimChabrak opened #190 "Create Task account after creating task"
If a do not select the create account in the beginn of task creation, I can not do it later, as the button does not appear when editing a task.

I propose to implement this button separate, and this button is possible as long task is not closed.

[2020-11-18 14:49] gdalyy commented on #182
resolved in https://github.com/Coinsence/humhub-modules-tasks/pull/14

[2020-11-18 14:52] gdalyy commented on #190
Okay will do it

[2020-11-18 14:57] #182 closed, assigned to gdalyy

[2020-11-18 15:07] KarimChabrak commented on #187
![grafik](https://user-images.githubusercontent.com/41925899/99547697-21a33f00-29b8-11eb-9e51-55548747b4c7.png)

[2020-11-18 15:17] KarimChabrak commented on #187
@gdalyy

Regarding the second bullet. (When task is set to ready for review, assigned user will be asked ....), in case there is no reviewer set, the pop up will apper when user clicks on "finish task".

[2020-11-18 15:21] KarimChabrak opened #191 "Changing target account for tasks"
Currently, it is not possible to change target account,

I propose:
When task is set to ready for review, (or "finish task" in case there is no reviewer), assigned user will be asked (pop up) if coins shall be sent to his default account or to an other account, here he can select one of these two option "use my default account", "set an other account", if he click on set an other account, he can s

[2020-11-20 18:45] #190 closed, assigned to gdalyy

[2020-11-20 18:47] #187 closed, assigned to gdalyy

[2020-11-22 00:46] KarimChabrak commented on #183
Thus was a mistake, as I did test with admin rights

[2020-11-22 00:47] #183 closed, assigned to gdalyy

[2020-11-22 00:53] #130 closed

[2020-11-22 00:56] #83 closed

[2020-11-22 00:57] #70 closed

[2020-11-22 00:58] #46 closed

[2020-11-22 01:07] #8 closed

[2020-11-23 12:26] KarimChabrak opened #192 "Arabic Translation"
As we are targeting Arab region, I propose to translate main messages in Arabic.

We need a new extract of the messages, which i can translate

[2020-11-23 12:28] gdalyy commented on #192
@craxrev :+1:

[2020-11-23 13:14] KarimChabrak commented on #137
@haythem96 can we close this issue?

[2020-11-23 13:15] haythemsellami commented on #137
Closing this as it is done.

[2020-11-23 13:15] #137 closed

[2020-11-23 13:22] KarimChabrak opened #193 "Add Coinsence Favicon"
WE need to update favicon for coinsence

[favicon.zip](https://github.com/Coinsence/meta/files/5583209/favicon.zip)

[2020-11-23 14:45] craxrev commented on #192
I'll prepare the translation files some day in this week

[2020-11-24 15:25] #188 closed, assigned to gdalyy

[2020-11-24 15:26] #186 closed, assigned to gdalyy

[2020-11-24 15:27] #185 closed, assigned to gdalyy

[2020-11-24 17:03] #184 closed, assigned to gdalyy

[2020-11-24 17:04] #108 closed

[2020-11-24 17:05] #107 closed

[2020-11-24 17:06] #106 closed

[2020-11-24 17:07] #21 closed

[2020-11-24 20:28] KarimChabrak commented on #178
New design in the link below will be deployed.

https://www.figma.com/file/7vafNwlSgNK2fCBzQ9TnvE/Coinsence---Redesign?node-id=0%3A1

[2020-11-24 20:39] KarimChabrak commented on #158
One option is to create a marketplace for jobs, when user adds a job, he automatically generates a task.

The marketplace card links directly to the task details.
The card which is similar to crowdfunding cars, shows a picture, task title, task description, task account balance and days left till the cheduled starting day of the task.

[2020-11-24 20:40] #129 closed

[2020-11-24 20:45] #67 closed

[2020-11-24 20:46] #38 closed

[2020-11-24 20:46] #22 closed

[2020-11-24 20:47] #19 closed

[2020-11-24 21:08] #20 closed

[2020-11-24 21:09] KarimChabrak commented on #20
Closing, as this is replaced by issue 172 https://github.com/Coinsence/meta/issues/172

[2020-11-24 21:20] KarimChabrak opened #194 "Adding a rating system for tasks"
I propose to add a rating system for performed tasks.

Assigned user will be asked to validate task reviewer with stars from 0 to 5 and add a comment.
Reviewer will be asked to validate assigned user with start from 0 to 5 and add a comment.

Users will have a rating as reviewer and as assigned user.
Rating gets visible and updated after 5 ratings.

To be discussed if to introduce customizable rat

[2020-11-25 09:39] luke- commented on #38
@KarimChabrak Sorry I missed this issue. Do you still need input from me?

[2020-11-25 09:44] KarimChabrak commented on #38
@luke-   we jointly solved this issue long times ago. Maybe you forgot.

[2020-11-25 09:47] KarimChabrak opened #195 "Re-design mail module"
I propose to implement the main module as shown here in the new design.

https://www.figma.com/file/7vafNwlSgNK2fCBzQ9TnvE/Coinsence---Redesign?node-id=0%3A1

@luke- If you are interested, we can try to create some synergies.

[2020-11-25 09:59] gdalyy commented on #109
@KarimChabrak I already solved that long time ago, users can't create personal accounts

[2020-11-25 10:00] luke- commented on #195
@KarimChabrak Have you already seen the new Mail Module (2.0) version?

[2020-11-25 10:03] KarimChabrak commented on #109
@gdalyy true. The onlx point is that when making a trabnsaction and select user as owner, i need to select default, which does not make sense as there is only default account

[2020-11-25 10:03] KarimChabrak commented on #109
@gdalyy i will close this issue then

[2020-11-25 10:03] #109 closed

[2020-11-25 10:13] KarimChabrak commented on #195
@luke- I could not test it, because we are based on an old Humhub version and we need to invest quite some work to bring our version to the latest one.     It would be of course great if we can build on the new mail module. @craxrev started already.
Is there any access  where i can test the new mail module?

[2020-11-25 12:15] luke- commented on #195
@KarimChabrak The easiest way is in our community or demo hosting.

[2020-11-25 12:41] craxrev commented on #165
is this mail module related?

[2020-11-25 12:44] KarimChabrak commented on #165
@craxrev yes, but it will be probably solved automatically with the new mail module.

[2020-11-25 13:08] #91 closed

[2020-11-25 14:13] #172 closed, assigned to gdalyy

[2020-11-25 14:29] KarimChabrak commented on #158
When creating a marketplace, add option "Task Marketplace"
![grafik](https://user-images.githubusercontent.com/41925899/100240569-02199280-2f33-11eb-84ba-1170e2bf62fc.png)

[2020-11-26 16:37] KarimChabrak opened #196 "User profile page"
Profile page shall be re-designed as shown here
https://www.figma.com/file/7vafNwlSgNK2fCBzQ9TnvE/Coinsence---Redesign

[2020-11-26 16:39] KarimChabrak commented on #196
Following to be corrected
- Uploading button for profile picture is visible only curser is aside of picture. PROPOSAL: Make the buttons always visible for user (profile picture and background picture)
- I can not upload pictures, when selecting upload and then selecting a picture

[2020-11-26 16:40] KarimChabrak commented on #196
Country list does not get loaded in experience
![grafik](https://user-images.githubusercontent.com/41925899/100375690-7bd27e80-300e-11eb-9504-2d3a7d27c061.png)

[2020-11-26 16:41] KarimChabrak commented on #196
Coins on the rights side are not corrects

[2020-11-26 16:43] KarimChabrak commented on #196
When adding experience, calendar function does not work. I propose to add in the comment the format to help user here YYYY-MM
![grafik](https://user-images.githubusercontent.com/41925899/100375903-d5d34400-300e-11eb-9def-a48fe3e50a93.png)

[2020-11-26 16:48] KarimChabrak commented on #196
Reduce line distance within each experience
![grafik](https://user-images.githubusercontent.com/41925899/100376338-a6710700-300f-11eb-9e8e-e7a0ea854366.png)

[2020-11-26 16:49] KarimChabrak commented on #196
I cant edit the text section here
![grafik](https://user-images.githubusercontent.com/41925899/100376404-be488b00-300f-11eb-9cd6-2990fe4b0a86.png)

[2020-11-26 16:56] KarimChabrak commented on #196
We could reduce the space between "System admin..."  and the text below.

![grafik](https://user-images.githubusercontent.com/41925899/100376886-94dc2f00-3010-11eb-96f2-a4655bdcc959.png)

[2020-11-26 16:59] KarimChabrak commented on #196
Let's hide this section for the moment, or replace it by this below from old profile view

![grafik](https://user-images.githubusercontent.com/41925899/100380472-38304280-3017-11eb-8949-29a588ee3747.png)

![grafik](https://user-images.githubusercontent.com/41925899/100380545-5d24b580-3017-11eb-85b9-c62e1a5ffd93.png)

[2020-11-26 17:04] KarimChabrak commented on #196
RECENT POSTS should show only activites related to the user:

![grafik](https://user-images.githubusercontent.com/41925899/100377560-c0134e00-3011-11eb-9460-1b74787f8d1d.png)

[2020-11-26 17:11] KarimChabrak opened #197 "Missing posting box in home"
In Menatabadol and dev, this is missing in the home page:

![grafik](https://user-images.githubusercontent.com/41925899/100378037-b211fd00-3012-11eb-9a69-5dc6ad16d676.png)

[2020-11-26 17:13] KarimChabrak opened #198 "Re-design posting box"
The box for posting content is a bit ugly, maybe we can learn from slack.

![grafik](https://user-images.githubusercontent.com/41925899/100378273-1339d080-3013-11eb-9b5e-ee786a6cd0af.png)

This is also valid for comment box
![grafik](https://user-images.githubusercontent.com/41925899/100378401-5136f480-3013-11eb-9d1e-56b6bb62df5c.png)

[2020-11-26 17:20] KarimChabrak commented on #196
Clicking on "accounts" or on "account overview" does not lead to account overview.

![grafik](https://user-images.githubusercontent.com/41925899/100378674-d3271d80-3013-11eb-931a-a76223d3135d.png)

![grafik](https://user-images.githubusercontent.com/41925899/100378754-0073cb80-3014-11eb-8b66-a3bbd83b85fd.png)

[2020-11-26 17:27] KarimChabrak commented on #196
Missing instagramm
![grafik](https://user-images.githubusercontent.com/41925899/100379327-fd2d0f80-3014-11eb-9b3b-01a846e77488.png)

[2020-11-26 18:59] KarimChabrak opened #199 "Ethereum Issue"
I get errors when creating spaces, or account or when making transactions

SEE ERROR MESSAGES BELOW IN COMMENT

[2020-11-26 19:00] KarimChabrak commented on #199
**WHEN MAKING TRANSACTIONS FOLLOWING ERROR**

{
    "url": "/u/Bot001/xcoin/transaction/transfer?accountId=7738",
    "status": 500,
    "response": {
        "error": true,
        "message": "Could not do transfer coins, will fix this ASAP !"
    },
    "textStatus": "error",
    "xhr": {
        "readyState": 4,
        "responseText": "{\"error\":true,\"message\":\"Could not do transfer coins,

[2020-11-26 19:00] KarimChabrak commented on #199
**WHEN CREATING AN ACCOUNT WITHIN A SPACE FOLLOWING ERROR**

An unexpected server error occurred. If this keeps happening, please contact a site administrator.
{
    "url": "/s/testing-ethereum-smart-contract/xcoin/account/edit",
    "status": 500,
    "response": "<pre>PHP Notice &#039;yii\\base\\ErrorException&#039; with message &#039;Undefined property: stdClass::$address&#039; \n\nin /var/www/

[2020-11-26 19:01] KarimChabrak commented on #199
**when creating a space (Space is created, but no default account or smart contract) following error**
{
    "url": "/space/create/create",
    "status": 500,
    "response": "<pre>PHP Notice &#039;yii\\base\\ErrorException&#039; with message &#039;Undefined property: stdClass::$address&#039; \n\nin /var/www/coinsence/protected/modules/ethereum/calls/Wallet.php:52\n\nStack trace:\n#0 /var/www/coin

[2020-11-29 16:44] craxrev commented on #196
@KarimChabrak don't think we have an instagram option it in user profile settings

[2020-11-30 20:17] KarimChabrak opened #200 "Menatabadol cant make transfer"
When trying to make a transfer from this account, i get error message below
https://menatabadol.org/space/marketplaces/xcoin/account?id=6

{
    "url": "/space/marketplaces/xcoin/transaction/transfer?accountId=6",
    "status": 500,
    "response": "<pre>PHP Recoverable Error &#039;yii\\base\\ErrorException&#039; with message &#039;Object of class humhub\\modules\\space\\models\\Space could not be

[2020-12-01 22:46] gdalyy commented on #200
@ZouaouiK please fix this as discussed on slack

[2020-12-02 14:40] #200 closed, assigned to gdalyy, ZouaouiK

[2020-12-02 15:28] #197 closed, assigned to craxrev

[2020-12-02 16:15] #196 closed, assigned to craxrev, ZouaouiK

[2020-12-02 18:13] KarimChabrak commented on #158
@gdalyy  check these potential changes

![Screenshot_20201202_184700_org mozilla firefox](https://user-images.githubusercontent.com/41925899/100913744-770c3f80-34d2-11eb-8803-81f5f4cb44dd.jpg)

[2020-12-02 18:13] KarimChabrak commented on #158
![Screenshot_20201202_184803_org mozilla firefox](https://user-images.githubusercontent.com/41925899/100913765-7ecbe400-34d2-11eb-8f28-c7b0c929fa16.jpg)

[2020-12-02 18:14] KarimChabrak commented on #158
![Screenshot_20201202_184838_org mozilla firefox](https://user-images.githubusercontent.com/41925899/100913807-8f7c5a00-34d2-11eb-816d-13e3ce64c6c1.jpg)

[2020-12-07 09:19] #178 closed, assigned to craxrev

[2020-12-07 09:24] #29 closed

[2020-12-07 09:24] #165 closed, assigned to craxrev

[2020-12-10 12:20] KarimChabrak opened #201 "Deploy new changes to Coinsence platform"
Changes from Menatabadol shall not be deployed on Coinsence:
- Leave it possible for spaces to create COIN. (Not like in I4C, only platform admin can do this).

Following changes shall be deployed on Coinsence.
- **Tasks module changes.**  incl. create account, allocate coin, hide account etc etc...
- Introduce cathegories (tags) for spaces and users.
- **New message design**
- **New user profile

[2020-12-10 12:54] KarimChabrak opened #202 "Adding task list to user profile"
In the stream, there is on the right side a overview about tasks where user is involved.  I propose to the this to user profile page on the right side. In mobile view (under experience)

The following has also to be adapted.
- Check link to see all (there is a bug at the moment)
- Adapt title of this section to be inline with profile design (remove task icon), replace title text by "Involved in fo

[2020-12-10 13:30] KarimChabrak commented on #158
@gdalyy  please deploy this on menatabadol and Coinsence so that i can close it

[2020-12-10 14:26] gdalyy commented on #158
I can't deploy on menatabadol I don't have access , @craxrev will you do it ?

@KarimChabrak I'll do deployment for coinsence for all branches all together one time ASAP.

[2020-12-10 14:27] gdalyy commented on #158
Feel free to close the issue, it's not related to deployment :+1:

[2020-12-10 16:24] #158 closed

[2020-12-10 17:05] KarimChabrak opened #203 "Check cron job on Menatabadol."
![grafik](https://user-images.githubusercontent.com/41925899/101804719-320b8d00-3b12-11eb-937e-aaafaf2b5f1f.png)

[2020-12-10 17:11] gdalyy commented on #203
This one is related to deployment too and I don't have access, @craxrev can you handle this one too ?

[2020-12-10 17:16] KarimChabrak commented on #195
Size of text and pictures is still to big, expecially comparing to other text and pictur icont in the platfrom (size should be e.g. like the ones highlighted in yellow in the the left side of the picture below).
![grafik](https://user-images.githubusercontent.com/41925899/101806051-c9251480-3b13-11eb-83b2-9855a947ede7.png)

[2020-12-10 17:19] KarimChabrak commented on #195
Also in the list of conversations, picture and text size should be as small as in the conversation details.
![grafik](https://user-images.githubusercontent.com/41925899/101806389-2faa3280-3b14-11eb-9b20-f86f9c0ecf75.png)

[2020-12-10 17:22] KarimChabrak commented on #195
@lemsadelavega  do you agree with the text size reduction in the conversation?

[2020-12-11 09:44] luke- commented on #195
If you have improvements here, you are welcome to create a PR in our repo. Maybe with an issue for discussion before to avoid misconceptions.

[2020-12-14 13:25] KarimChabrak opened #204 "Add pre-payment option on marketplace."
Currently, in the buying process user can either redirected to a link or connected to buyer.  Payment is not handled in the process.

We propose, WHEN seller sets a price per unit (not discount), he can deside if he wants to be payed first and can set what happens next after payment. After payment, buyer will be either
- Redirected to a certain link.
- Redirected to a message he received.  THe con

[2020-12-17 12:24] KarimChabrak opened #205 "Product pop up"
Product details shall be shown as popup.

In case of mobile version,

- we keep a similar view (excluding space details and menu).
- We change wording from "owner" to "Created by"

In case of web version, we make a redesign on popup as shown here:
- We change wording from "owner" to "Created by"
- Make picture smaller and mode some indormation on the side of the picture.
-
 Old version
![grafik](h

[2020-12-21 16:08] KarimChabrak opened #206 "Error message when accepting space membership requests"
I get this screeen when I accept membership request in the space. THE USER AFTER ACCEPTING BECAME A MEMBER AS IT SHOULD BE.

![grafik](https://user-images.githubusercontent.com/41925899/102796862-28eeab80-43af-11eb-8b1b-3cb7fc1ba796.png)

[2020-12-21 16:11] gdalyy commented on #206
I think this is related to ether gas fees, it works normal when ethereum is disabled , @haythem96

[2020-12-22 16:11] KarimChabrak commented on #204
This setting when creating a marketplace is not needed anymore

![grafik](https://user-images.githubusercontent.com/41925899/102909048-a500f600-4478-11eb-985e-1941f570b296.png)

[2020-12-22 20:49] #203 closed, assigned to gdalyy

[2020-12-22 21:40] KarimChabrak commented on #205
Review of current web version:

- Reduce picture size.
- Move title to the top
- Left align text in the the short description.
- Check size of text of the words "created by" and "short description"

![grafik](https://user-images.githubusercontent.com/41925899/102935537-a0533680-44a6-11eb-845e-04a4877d949a.png)

[2020-12-22 21:42] KarimChabrak commented on #205
Review of mobile version.
- Adjust size of Popup to screen (see right side)
- Reduce hight of picture.
- Move product title to the top.
- Text in the upper part should be left aligned like lover part

![grafik](https://user-images.githubusercontent.com/41925899/102936892-51f36700-44a9-11eb-9659-cbc778fcce64.png)

[2020-12-22 22:06] KarimChabrak commented on #205
Popup should also work when cliking on product within space marketplace or in the user profile offers.

https://marketplace.menatabadol.org/space/marketplaces/xcoin/marketplace/overview?marketplaceId=3

[2020-12-24 15:52] KarimChabrak opened #207 "Differnt view of comments in MENA platform"
comments look different

![grafik](https://user-images.githubusercontent.com/41925899/103097668-4b2f3600-4608-11eb-9c1f-13aecff36ce6.png)

![grafik](https://user-images.githubusercontent.com/41925899/103097692-5e420600-4608-11eb-89db-6fedd994f20b.png)

[2021-01-01 13:59] #205 closed, assigned to ZouaouiK

[2021-01-01 13:59] #204 closed, assigned to ZouaouiK

[2021-01-01 13:59] #202 closed, assigned to nobody

[2021-01-01 14:03] #195 closed, assigned to craxrev

[2021-01-12 14:46] KarimChabrak commented on #192
**GENERALLY AND EVERYWHERE, NOT ARABIC NUMBER SHOULD BE USED, BUT THE STANDARD INTERNATIONAL NUMBERS**

**Profile page.**
END Date not translated.
![grafik](https://user-images.githubusercontent.com/41925899/104822378-42fe9b00-5842-11eb-8f3b-797a10bbb41f.png)

**Tasks Missing following translations**
"Allocate coin  تخصيص عملة" and "create account إنشاء حساب"
![grafik](https://user-images.githubus

[2021-01-19 13:08] #192 closed, assigned to craxrev

[2021-01-19 13:10] #25 closed

[2021-01-27 21:54] KarimChabrak commented on #201
@gdalyy @craxrev , to simplify deployment of Coinsence, we take over all changes (except the limitation of COIN issuing, which is in I4C platform is only restricted to platform admin)

[2021-01-27 22:17] KarimChabrak opened #208 "Adding peer rating and commenting for project submissions"
To enable better validation of project submission and to be able to collect peer feedback, challenge makers shall be a able to enable peer feedback (rating and commenting) based on this picture.

![FirstIssue](https://user-images.githubusercontent.com/41925899/106061565-cf884380-60f5-11eb-8512-fd580c4f2b45.png)

[2021-01-30 15:17] KarimChabrak commented on #201
@gdalyy and @craxrev , I am happy to see following links are still working https://marketplace.menatabadol.org/directory/members and https://marketplace.menatabadol.org/directory/spaces  .  JUST AS REMINDER, Please do not change this and keep them working also for Coinsence. As on I4C, they are not anymore in the menu, but the links can still work, just in case we need them.

[2021-02-09 15:21] KarimChabrak opened #209 "Deactivate Spaces"
In case a space has issued COINs distributed outside the space or has COIN from other spaces, we should replace the "delete" function with "deactivate function". Deactivation shall not deleted anything from database, but just control visibility of data.

Platform admin or space owner shall be able to deactivate spaces and reactivate them again

When spaces are deactivated.
- **Space accounts are n

[2021-02-14 16:51] KarimChabrak opened #210 "Add Browser to Coinsence app"
To have a betterobile experience, I propose to integrate a browser in the app that is per default connected Coinsence page.

[2021-02-14 16:52] KarimChabrak opened #211 "Remove default coins on mobile app"
I propose to remove the default Coinsence coin from mobile app.

[2021-02-14 16:58] KarimChabrak opened #212 "Adding token symbol to app"
Not urgent

I propose to add a coin symbol in mobile app.
Here, coin Dao can add information about the location of coin picture.
WE HAVE TO THINK ABOUT A WAY TO PREVENT THAT PEOPLE ADD A PICTURE OF AN OTHER COIN WHICH WILL MISSLEAD RECIPIENT OF COINS. EVENTUALLY THESE PICUTRES HAVE TO BE CONFIRMED BY A SPECIAL DEDICATED ADDRESS.

THIS ISSUE HAS ALSO TO BE ADRESSED IN THE PLATFORM

[2021-02-15 10:06] KarimChabrak opened #213 "Become aware when services are down"
From around 9 Feb,    3 users did join, but a default account was not created.
After checking the reason, we found our that a service was down.

In Dec. a space was created but no DAO was done on Blockchain.

I both cases, we had to delete user / space and create new ones

WE NEED A WAY TO AFF AUTOMATIC TESTING OR WHATEVER TO GET  NOTIFICATIONS WHEN A SERVICE IS DOWN.

[2021-03-01 16:05] KarimChabrak opened #214 "Replace space menu button "Ethereum" with a button in account"
Users are very confused when seeing to many buttons on space menu. As Ethereum information is not thsat relevant for most of the users, i propose to add a button in Accounts which shall lead to a popup

[2021-03-05 22:58] KarimChabrak commented on #201
Issue 1 here: comments on posts look different   https://github.com/Coinsence/meta/issues/207

[2021-03-05 23:03] KarimChabrak commented on #201
**Profile page MCHAG3BA**

![grafik](https://user-images.githubusercontent.com/41925899/110183331-f16c9880-7e0e-11eb-84f3-c1b1b6b569d6.png)

**Also offerd products, IT SHOULD BE LIKE OLD VERSION, BUT WITH 5 and NOT 4 COLUMNS.**
![grafik](https://user-images.githubusercontent.com/41925899/110183524-5922e380-7e0f-11eb-8083-4fe1c224be89.png)

[2021-03-05 23:07] KarimChabrak commented on #201
**Space top part MCHAG3BA, should be like old version**

![grafik](https://user-images.githubusercontent.com/41925899/110183787-ecf4af80-7e0f-11eb-835c-7d0a1b615415.png)

[2021-03-07 02:43] KarimChabrak commented on #201
Arabic appears as ?????
![grafik](https://user-images.githubusercontent.com/41925899/110227319-3e2b9e80-7ef7-11eb-8c7d-101fdae72b88.png)

[2021-03-07 19:33] KarimChabrak opened #215 "Alternative Crowd Funding options"
Currently, there is only the option to start crowd funding campaigns in exchange of space issued token at user set rate.

As challenge initiator, I would like to have also following options besides of the current option (alternative 1):
-Alternative 2- Initiate a funding challenge whithout receiving coins.
-Alternative 3- Initiate a funding campaign, select a specific coin that projects can offer

[2021-03-09 10:30] KarimChabrak opened #216 "Use full screen for mobile view of activity tream"
Similar like is facebook, linkedin etc...    We should leverage the full spreen for content and reduce gray zone.

![grafik](https://user-images.githubusercontent.com/41925899/110457354-d62db180-80ca-11eb-8802-45cef546a381.png)

[2021-03-09 13:54] KarimChabrak opened #217 "Order Space and Members based on activitiy and relevance"
Currently, the list of spaces and people is based on time.
I ropose
- to show people in following order, starting from the most active users (e.g. within 1 month).
- to show spaces based on the number of members in the spaces, starting with spaces with most members/followers

[2021-03-09 13:58] KarimChabrak opened #218 "Coin selection list"
When creating a marketplace or challenge, there is a very long list of coins. I propose that all coins are per default not visible except
- The coin of the space from where a challenge/marketplace is created.
- Coins where issued did manually set (Enable other spaces to create challnges and marketplaces using space issued coin). This setting is hidden in the Accounting module configuration.

[2021-03-09 17:00] KarimChabrak opened #219 "Adding map"
As user, i would like to see projects and marketplace offers on a map.
![grafik](https://user-images.githubusercontent.com/41925899/110510889-ef068900-8103-11eb-9f93-c24fadcf0085.png)

Projects and marketplace owners would need then the option to selected position on map.

We could consider adapting following module (https://gitlab.com/funkycram/humhub-modules-directory-map) or create a new one.

[2021-03-09 17:17] KarimChabrak commented on #219
Other potential views
![grafik](https://user-images.githubusercontent.com/41925899/110510683-be265400-8103-11eb-8e06-11af699729f5.png)

[2021-03-10 21:51] #207 closed, assigned to nobody

[2021-03-12 21:56] KarimChabrak opened #220 "Coin airdrop to user default account"
Currently, to automatically distribute coins, space admin can set following
![grafik](https://user-images.githubusercontent.com/41925899/111000477-6a756e00-8382-11eb-8186-358f002219c2.png)

- Create for each new member an account (within the space & managed by the new user) and allocated X coins to this account. Admin can select if user shall be able to make direct transfers from this avvount.
- S

[2021-03-12 22:12] KarimChabrak commented on #220
We could add a new function

or

adapt the current solution for example like this based on users who join a space
![grafik](https://user-images.githubusercontent.com/41925899/111003927-57fe3300-8388-11eb-8e60-d5e2117a75f9.png)

[2021-03-12 22:17] KarimChabrak opened #221 "I want to send coins to all space members"
I would like to send from an account COIN to multiple users.

- I would like to add manually multiple users in a single transaction, which shall get X amount of a selected COIN from my selected account.
- I would like to be able to add directly all members of a selected space.

[2021-03-13 16:55] KarimChabrak commented on #220
**Agreement: will be a new feature for platform admin,**

**When new user joins platform, issue from selected spaceABC   N COINs and send them to default user account.**

[2021-03-17 09:43] KarimChabrak opened #222 "Re-design menu"
To improve UI/UX, i propose to do following.

- Hide navigation menu
- Move home botton to the side of message botton on the upper right.
- Move space selection drop down from the uppor right to the upper left, and show there space icon/name when user is in a space.
- Move space menu from the side and put it in a drop down button on the uper left.

(All the items Spaces, People, Project and Market

[2021-03-17 18:06] #222 closed, assigned to craxrev

[2021-03-17 18:10] #132 closed

[2021-03-17 18:10] KarimChabrak commented on #132
This issue is outdated

[2021-03-17 18:19] KarimChabrak opened #223 "Re-design search and add space button"
![grafik](https://user-images.githubusercontent.com/41925899/111517723-abd89580-8755-11eb-959c-fe979bd1a7ab.png)

[2021-03-17 18:21] KarimChabrak commented on #85
@craxrev   please check first the code made by Karima related to this issue

[2021-03-17 18:31] KarimChabrak opened #224 "Move Ethereum button"
To make it easier for users,

Ethereum information should be accessible from Accounts page.  Button should be removed from space menu.

![grafik](https://user-images.githubusercontent.com/41925899/111519304-3c63a580-8757-11eb-82cc-5fdc3a0e52d2.png)

[2021-03-17 18:39] KarimChabrak opened #225 "Align top menu with content boxes"
![grafik](https://user-images.githubusercontent.com/41925899/111520507-75e8e080-8758-11eb-8ed9-7a0deb8f8b75.png)

[2021-03-17 18:49] KarimChabrak commented on #225
Here as well, the is a miss alignment highlighted in Red
![grafik](https://user-images.githubusercontent.com/41925899/111521802-d88eac00-8759-11eb-9f07-f5e01448833c.png)

[2021-03-18 14:58] KarimChabrak opened #226 "Use the full page for custom page"
As space admin, i want to be able to use the full page to implement my custom page (except the upper menu).

![grafik](https://user-images.githubusercontent.com/41925899/111647226-98cfcf00-8802-11eb-81e7-6e93273d2f88.png)

[2021-03-18 19:17] KarimChabrak opened #227 "Project description as pop up."
To improve UX, when user clicks on a project, it shall appear as popup.

[2021-03-18 22:03] KarimChabrak opened #228 "Redesign global search page"
As top navigation bar has been removed, we need a new way for searching and linking to (people, spaces, projects, marketplace)

![grafik](https://user-images.githubusercontent.com/41925899/111703456-efa6ca00-883d-11eb-929c-72f3b0bb3432.png)

[2021-03-19 14:52] #216 closed, assigned to craxrev

[2021-03-19 14:52] #223 closed, assigned to nobody

[2021-03-19 14:53] #224 closed, assigned to craxrev

[2021-03-19 14:54] #225 closed, assigned to craxrev

[2021-03-19 17:47] KarimChabrak opened #229 "Product creation flow"
To improve UX, we should skip this step.

![grafik](https://user-images.githubusercontent.com/41925899/111821619-28e54580-88e3-11eb-93fa-9aab2f0308c9.png)

In the step after, we can offer the user the option to select instead of his personal profile other spaces (where he is admin) instead of his personal profile. If user does not click on change, automatically his personal profile is taken.

![gr

[2021-03-22 17:11] KarimChabrak opened #230 "Replace search button"
Adapt mobile version like this. The global menu to access (Spaces, people, marketplace, projects and search) will be validated with Malek first.
In the web version we replace the search button with the global menu button, and add a transfer button as well.

![grafik](https://user-images.githubusercontent.com/41925899/112030534-a8208680-8b3a-11eb-9e1b-af2e5fbfdd01.png)

[2021-03-22 17:24] KarimChabrak opened #231 "Hide space menu items when there is no relevant content"
I propose to hide following menu items when there is no content. These items shall stay visible for space admins.
-Hide Challnge when space did not create challenges.
- Hide proposal, when space did not send any proposal.
- Hide Marketplaces, when space did not create any marketplace
- Hide products, when space did to create any product yet.

![grafik](https://user-images.githubusercontent.com/419

[2021-03-22 17:31] gdalyy commented on #231
I dont agree on above changes,  from a UX perspective menus should not change depending on users (with same role) profiles.

[2021-03-22 17:43] KarimChabrak opened #232 "Decide which stile to take, white of gray background."
We need to decide if we take white of gray background as a general design rule
![grafik](https://user-images.githubusercontent.com/41925899/112034105-6bef2500-8b3e-11eb-9c21-e1f5614e986e.png)
![grafik](https://user-images.githubusercontent.com/41925899/112034176-80cbb880-8b3e-11eb-90cb-35da2d88b1fa.png)

[2021-03-22 17:44] KarimChabrak commented on #232
![grafik](https://user-images.githubusercontent.com/41925899/112034327-a5279500-8b3e-11eb-86d4-9f51d0252560.png)
![grafik](https://user-images.githubusercontent.com/41925899/112034358-ad7fd000-8b3e-11eb-8d40-8c7f97e2fcc3.png)

[2021-03-22 17:46] KarimChabrak commented on #232
![grafik](https://user-images.githubusercontent.com/41925899/112034437-c5efea80-8b3e-11eb-9ec0-f379c5a7a96f.png)
![grafik](https://user-images.githubusercontent.com/41925899/112034507-d7d18d80-8b3e-11eb-86ec-3665afa5dae2.png)

[2021-03-22 17:57] KarimChabrak commented on #231
In most of the spaces, user will click on them and will not find anything.

Based on current exchange with many potential group which hopefully will use our platform, they want to be able to customize the space menu.

[2021-03-22 17:59] KarimChabrak commented on #231
@gdalyy as each space shall be responsible how to deal with his space members, we could maybe add the option to space admins to hide manually selected space menu buttons.

[2021-03-23 23:27] KarimChabrak commented on #232
decison, we take gray

[2021-03-23 23:27] #232 closed, assigned to nobody

[2021-03-23 23:28] KarimChabrak commented on #228
Replaced by #230

[2021-03-23 23:28] #228 closed, assigned to lemsadelavega

[2021-03-23 23:54] gdalyy commented on #231
Still don't agree because as I said we should not have different menus for same UI and for same user role but as you wish.

PS: menus may change depending on user role for example admin can see different menus than normal user, but all normal users should see same menus on every space, otherwise they will get confused.

[2021-03-24 11:20] KarimChabrak commented on #231
@gdalyy i can understand you position, if we would have mostly Coinsence users which will join the platform and join some spaces. But the typical user is a member of association/community/project who will join and will be mostly only be interacting within his target space.

These are the arguments why:
- A typical user will be active in a single space when they join the platform. They might join a

[2021-03-24 11:29] gdalyy commented on #231
Lgtm 👍

[2021-03-24 11:32] KarimChabrak opened #233 "Create liquidity between spaces (Exchange)"
As often Token A holders will need products requiring token B. I need a way to enable automatic exchange.

THIS FUNTION WAS AVAILABLE IN THE INITIAL XCOIN VERSION

So
**Token B holders can offer exchange of token A for a certain rate.**
- Input: Offered Token A, Requested Token B, Amount offered A, Exchange rate B/A.
- Seller has to select accounzt where the token should be taken from.

User can s

[2021-03-24 11:50] KarimChabrak commented on #231
Literally Garbage To Me   or does LGTM mean something else ;-)

[2021-03-24 11:53] gdalyy commented on #231
Looks good to me 😅🙄

[2021-03-24 12:05] KarimChabrak opened #234 "Create liquidity between spaces (Marketplace)"
Building on issue "Create liquidity between spaces (Marketplace)"

When filtering product e.g. based on Token B,  I would like to see/buy on marketplace offers which initially requested token A, when the is somewhere an exchange offering B for A.

- I propose to show on products then ("COIN A" , "x exchngeRate COIN B).

When i buy the product, my token B should be automatically deducted, converted

[2021-03-24 12:09] KarimChabrak opened #235 "Marketplace discount (national currency reference)"
In case of discount, we should add the exchange reference related to national currency.

So, product creator should set reference like this (€ corresponds to 0,34 COIN A). He must selected the currency (€, $, TND) and set the number of coins he request per this currency (e.g. 0,34)

[2021-03-25 16:25] KarimChabrak opened #236 "User mobile view"
User view looks strange in mobile view (the area where to connect with the users).

![Screenshot_20210325_163557_org mozilla firefox](https://user-images.githubusercontent.com/41925899/112507686-24130c80-8d8f-11eb-95fe-eb47d88bb9e5.jpg)

[2021-03-26 15:28] KarimChabrak commented on #230
@lemsadelavega  This will be the menu items and text:

- **People** Search for other members within the network
- **Spaces** Search for projects, organizations and communities
- **Marketplace** Find all products, services and ressources that are offered for COINs
- **Campaigns** Check for current active challenges and project funding campaigns
- **Search** Search for people, spaces or content base

[2021-03-26 20:35] KarimChabrak opened #237 "Remove space upper info box (cover, icon....)"
As space icon is already shown in top menu, i recommand to add the option for space admin to hide space cover+info from all pages, EXCEPT STREAM.

![grafik](https://user-images.githubusercontent.com/41925899/112689638-db388200-8e7a-11eb-8194-ff70b3a20680.png)

[2021-03-28 19:43] KarimChabrak opened #238 "Block COIN issue until DAO is created"
After space creation, user shall only be able to issue coins when the DAO is created.

I propose to hide issue coin untill the DAO is created, or show pop-up that user shall wait untill DAO is created...

This issue is also relevant for submitting in crowd funding campaigns, as for new projects, we automatically create a space and issue COIN right away.

[2021-03-28 19:58] KarimChabrak opened #239 "Change transaction from int to float"

[2021-03-28 20:04] #239 closed, assigned to gdalyy

[2021-03-31 17:50] #199 closed, assigned to gdalyy, craxrev, haythemsellami

[2021-03-31 17:57] KarimChabrak opened #240 "On DEV, Posting box is missing in activity stream"
![grafik](https://user-images.githubusercontent.com/41925899/113189269-4ad3b600-925b-11eb-99b2-2a00da05705c.png)

[2021-03-31 18:57] KarimChabrak commented on #227
@craxrev pop up works only when clicking on the project from general challenge page. Please also implement it when clicking on project from space challenge page.

[2021-04-10 22:33] #193 closed, assigned to craxrev

[2021-04-10 22:33] #229 closed, assigned to craxrev

[2021-04-10 22:37] #226 closed, assigned to craxrev

[2021-04-10 22:38] #236 closed, assigned to craxrev

[2021-04-10 22:39] #240 closed, assigned to craxrev

[2021-04-15 18:21] KarimChabrak opened #241 "Message icon is shown twice"
After deployment of new features, the message icon is shown twice in the top.

[2021-04-17 09:17] #214 closed, assigned to craxrev

[2021-04-17 09:20] KarimChabrak commented on #230
Thank you @lemsadelavega for the design. @craxrev let's discuss how to implement this as shown here
https://www.figma.com/file/sX0iQ0mXWD6uk3ZJ0J0oaf/Coinsence?node-id=0%3A1

[2021-04-17 09:26] KarimChabrak commented on #230
@lemsadelavega shall we replace the transfer icon with something like this which is more clear to user?

![grafik](https://user-images.githubusercontent.com/41925899/115108526-3e48a080-9f71-11eb-8c19-739da5724493.png)

[2021-04-17 12:52] KarimChabrak opened #242 "Implement Coin purchase"
Introduce COIN Purchase module.

![grafik](https://user-images.githubusercontent.com/41925899/115113773-3a764780-9f8c-11eb-8174-ddb9dc70c1fd.png)

![grafik](https://user-images.githubusercontent.com/41925899/115113832-80cba680-9f8c-11eb-9975-75a459650879.png)

[2021-04-18 14:17] #241 closed, assigned to craxrev

[2021-04-18 14:19] #237 closed, assigned to craxrev

[2021-04-18 14:20] #231 closed, assigned to craxrev

[2021-04-18 14:58] #206 closed, assigned to nobody

[2021-04-18 14:59] #201 closed, assigned to nobody

[2021-04-18 15:02] KarimChabrak opened #243 "Task module update"
The current task module on prod is not yet updated based on I4C work.

[2021-04-19 18:47] KarimChabrak opened #244 "Show in Helma Join Space instead of invite"
When user is not yet member of the space, we need to show "Join Space" instead of "invite"
![grafik](https://user-images.githubusercontent.com/41925899/115287343-735f1980-a150-11eb-96fa-140d6f4ca037.png)

[2021-04-21 21:50] #220 closed, assigned to craxrev

[2021-04-24 14:52] KarimChabrak opened #245 "Delay in sending registration mails"

[2021-04-26 15:51] KarimChabrak opened #246 "Adapt EDITING of challenges"
Issue 1: When setting challenge to not active, challenge card is still visible. I might want to hide it. I need in total 3 possible cases:
- Active (Card is visible on space challenges, People can apply)
- Stopped (Card is visible on space challenges, people can not apply anymore)
- Closed (New status, Card in not anymore visible on space challenges, people can not apply anymore)

![grafik](https:

[2021-04-27 20:39] KarimChabrak opened #247 "Add hiding option of projects and products within spaces"
As challenge creator or as marketplace owner, I want to have the option to hide non-verified submissions/products from all members except space administrators.

[2021-04-28 15:40] KarimChabrak commented on #215
@rafinala as discussed, In alternative 2 and 3, you do not issue coins when a project makes a submission.

In alternative 3, Project submitter will have in the final submission step a window to either select an account where (Offered) coins are available or can click on a button "I will send rewarding COINs later to activate my campaign".

[2021-05-01 10:37] KarimChabrak opened #248 "Date selection on Calender appears far away from botton"
The calender for selection does not apper on screen, as it is shifted

![grafik](https://user-images.githubusercontent.com/41925899/116779983-cce11580-aa79-11eb-9617-a3f45062925d.png)

[2021-05-01 18:44] KarimChabrak commented on #243
@gdalyy

I get gollowing error when creating task

An unexpected server error occurred. If this keeps happening, please contact a site administrator.

{
    "url": "/space/coinsence-project/tasks/task/edit?cal=0&listId=40",
    "status": 500,
    "response": "<pre>Exception (Unknown Property) &#039;yii\\base\\UnknownPropertyException&#039; with message &#039;Setting unknown property: humhub\\modul

[2021-05-02 04:20] #138 closed

[2021-05-02 04:20] gdalyy commented on #138
Done

[2021-05-02 16:31] KarimChabrak commented on #215
Issue 1:
Using alternative 3, It creates 2 campaigns
https://dev.coinsence.org/space/meet-africa/xcoin/funding

[2021-05-02 16:38] KarimChabrak commented on #215
Issue 2:
Using alternative 1, user does not receive space coin when investing coins.
https://dev.coinsence.org/space/investment-coin/xcoin/account?id=598

[2021-05-02 16:41] KarimChabrak commented on #215
Issue 3:
Using alternative 2 (no rewarding). I can not invest in project
https://dev.coinsence.org/space/test12345678/xcoin/funding/overview?fundingId=82
![grafik](https://user-images.githubusercontent.com/41925899/116820531-fb441b00-ab75-11eb-9e92-f55e2fcf658a.png)

[2021-05-02 17:20] KarimChabrak commented on #215
Issue 4:
In alternative 3,  the last step when adding a project should be like this.
PROJECT OWNER CAN SEND "REWARDING COINS" TO CROWFFUNDING ACCOUNT

![grafik](https://user-images.githubusercontent.com/41925899/116821642-f897f480-ab7a-11eb-8c1d-1b68cdeecd8b.png)

LATER, INVESTOR INVEST "REQUESTED COINS" AND RECEIVE "REWARDING COINS"
Here, we should not counting rewarding coins in the progress of

[2021-05-03 14:05] KarimChabrak opened #249 "Add video option to project submissions"
As challnge creator, i would like to enable projects to submitt also videos.

[2021-05-03 14:11] KarimChabrak opened #250 "Add button for people to contact project or challenge owner"
As challenge creator, i would like to allow people through call to action buttons to contact me or to contact project owner.

When clicking on button, user can write a text and upload a document as attachement.

[2021-05-03 22:18] #152 closed

[2021-05-03 22:19] #127 closed

[2021-05-03 22:22] #17 closed

[2021-05-03 22:22] #14 closed

[2021-05-03 22:31] KarimChabrak commented on #219
Other examles
https://reporting.clustercollaboration.eu/zone/beyond-europe

[2021-05-04 11:22] KarimChabrak opened #251 "Campaign cancellation. Reverting of blockchain"
Example here
https://community.coinsence.org/space/testtrans/xcoin/account?id=11262

When cancelling a campaign, the "reverting" transaction (from funding account to default account) is not on the blockchain. It must be on the blockchain.

![grafik](https://user-images.githubusercontent.com/41925899/116996443-b2a67200-acdb-11eb-9e46-786bfe071f1c.png)

[2021-05-04 14:37] KarimChabrak commented on #250
I propose that this will be made in generic form.

Challenge creator can add up to 2 contact buttons. With folliwng parameters:

- "Text on contact button"
- "Text to show above comment box",
- Select target contact (challenge owner / project owner).

When user click on contact: A popup enabling user to add text and include an attachement is shown.
![grafik](https://user-images.githubusercontent.c

[2021-05-05 17:11] KarimChabrak commented on #215
**Alternative 3 creates following error when adding a project. The project is then added, but project owner is not asked to send rewarding coins to project.**

An unexpected server error occurred. If this keeps happening, please contact a site administrator.

{
    "url": "/space/testchallenges/xcoin/funding/new?challengeId=21",
    "status": 500,
    "response": "<pre>Exception (Unknown Property)

[2021-05-05 17:12] KarimChabrak commented on #215
Alternative 3 is still forcing integer exchange rate when creating challenge

[2021-05-05 17:13] KarimChabrak commented on #215
Alternative 2 give this when adding a project

![grafik](https://user-images.githubusercontent.com/41925899/117181875-f7aecf00-add5-11eb-8b3b-4d4fda27fb9a.png)

[2021-05-05 17:28] KarimChabrak commented on #215
Alternative 3. I am still not able to invest in project in Alternative 3, even though i have allocated rewarding coins.

https://dev.coinsence.org/space/sscs/xcoin/funding/overview?fundingId=86

[2021-05-06 19:49] KarimChabrak commented on #250
@lemsadelavega   These are the additional boxes for challenge creation:

![grafik](https://user-images.githubusercontent.com/41925899/117357199-ebe60a00-aeb4-11eb-86f5-13577e1ce964.png)

[2021-05-06 20:07] KarimChabrak opened #252 "Make COIN visible in the formular when adding product"
As user, i miss sometimes the coin of marketplace. I need to see ot again when adding product.

[2021-05-07 16:16] KarimChabrak opened #253 "Redesign upper part of marketplace and challenge pages."
![grafik](https://user-images.githubusercontent.com/41925899/117479226-5a33d680-af60-11eb-89a4-81ccc1265dda.png)

[2021-05-07 16:22] KarimChabrak opened #254 "Issue using chrome mobile"
When selecting a coin during challenge creation (Using chrome on android mobile phone), the page changes automatically to space page, without beeing able to continue filling the callenge creation form.

When making transaction using mobile CHROME browser after selecting recipient, the page jumps directly to the user profile.

[2021-05-07 18:41] KarimChabrak opened #255 "Add customizable listing page of products/projects"
I would like to add in my page a customizable list of products/projects.

Like the picture below

But also considering following:
- In case of marlektplace, not show pictures of maketplaces, but rather pictures of categories.
- Space admin can add many marketplaces (or challenges) also from other spaces, to list their products (or projects) as well.

![grafik](https://user-images.githubusercontent

[2021-05-07 18:46] KarimChabrak opened #256 "Limit project / product submission rights to space moderators"
I would like when creating a challenge or a marketplace, to only allow space moderators to add products or projects.

The button add project / add product should be hidden for the rest of the users.

[2021-05-08 15:26] KarimChabrak opened #257 "Redesign project view page"
We should adapt project view page to following design.

https://www.figma.com/file/sX0iQ0mXWD6uk3ZJ0J0oaf/Coinsence?node-id=0%3A1

[2021-05-08 15:38] KarimChabrak commented on #250
@rafinala
As discussed,  preferably challenges owner in the message recipient setting, can add recipients of message and select if project owner shall get message as well.

[2021-05-10 12:06] KarimChabrak opened #258 "Sync Data with blockchain"
To ensure that coinsence transactions are 100% complient to blockchain we need to clean old transactions and balances.

- All transactions within Coinsence must be verified on blockchain, if not confirmed, transaction must be removed.
- Account balances must be compared to blockchain transactions, if there is a gap, missing transactions on blockchain must be added to the platform.

We need some ad

[2021-05-10 12:50] KarimChabrak commented on #251
@gdalyy
As I see, based on recent changes, when campaign is cancelled, you are sending back transactions related to investment, but are not anymore sending the minted coins from funding to default account. THIS IS GOOD. (avoiding issue with blockchain, as incoming transactions must be confirmed before sending coins...)

But you are hiding funding account....

To close this issue, i propose:
- Not

[2021-05-10 16:38] KarimChabrak opened #259 "Add transaction Hash for minted coins"
Minted coins have a transaction hash. This link in missing for the transactions within the platform.

E.g. here.

https://rinkeby.etherscan.io/address/0xdFbfD4C4BD8D682D9F8E89F94c8c59064cD7bDa7#tokentxns
https://community.coinsence.org/space/testtrans/xcoin/account?id=11260

There is no link for the transactions from issue.

[2021-05-11 17:41] KarimChabrak opened #260 "Mobile view of user profile is strange"
The sides are cut

![Screenshot_20210511_193349_org mozilla firefox](https://user-images.githubusercontent.com/41925899/117860874-165b0d00-b291-11eb-9c41-2093d10e73f6.jpg)

[2021-05-12 17:07] KarimChabrak opened #261 "Adjust Hema page template"
Following is needed:
Remove left buttons on cover picture
Remove button on projects

Use "space description" in the gray text below Helma.

Make the following editable by space admin:
- Text on the cover picture
- homepage adress
- short description

[2021-05-12 17:14] KarimChabrak opened #262 "Public visibility"
As challenge owner and marketplace owner, I would like to make the list of approved projects/products visible for non registered users. Non registered users should be able to click on projects or products and see details. Project and product owner should be then able to share a link to their project/product on social media

As space admin, I would like to make the welcome page (custom page) public

[2021-05-13 21:04] KarimChabrak opened #263 "Cron job issue"
![grafik](https://user-images.githubusercontent.com/41925899/118187671-8b6c4500-b43f-11eb-9d64-109394be4b81.png)

[2021-05-13 21:37] #244 closed, assigned to craxrev

[2021-05-14 14:37] KarimChabrak opened #264 "Add token purchase option in the funding process"
When user wants to invest in a project, and the requested COIN can be both (e.g. TND COIN).

- We should show a button "Buy COINs"
- After purchase process, user should be re-directed to the same popup, where he will automatically see the purchased COIN and where he can continue the funding process.

[2021-05-14 14:49] KarimChabrak commented on #215
@rafinala

**on Dev**, your changes are not anymore there when creating a challenge.

**On dev and on prod**, When addin a project, it shows the wrong icon in "provided coins".
It shows the icon on the space where challenge has been created:
Ib option 1, we need to show
- the icon on the space selected by project owner or show no icon if project owner did not create yet a space.

![grafik](https:/

[2021-05-14 15:22] KarimChabrak commented on #264
Example

![grafik](https://user-images.githubusercontent.com/41925899/118292457-edc55400-b4d8-11eb-9943-994197698b06.png)

[2021-05-15 03:02] rafinala commented on #215
hello @KarimChabrak  i havent touched anything related to alternative 1 , but i'll check it

[2021-05-15 03:11] rafinala commented on #215
hello @KarimChabrak ok i will check them

[2021-05-15 10:59] KarimChabrak commented on #227
When clicking from challenge page, the project should appear as pop up,
When clicking from submitted proposals page, this should redirect to a dedicated URL.

Currently, the opposite is implemented.

[2021-05-15 13:26] KarimChabrak commented on #215
Dear @rafinala This is a strange issue.

This project was created with the corresponding funding account
https://community.coinsence.org/space/business-game/xcoin/funding/overview?fundingId=277
https://community.coinsence.org/space/business-game/xcoin/account?id=11301

But when user has invested, the COINs have been sent to this account
https://community.coinsence.org/space/jci-coin/xcoin/account?